<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xmlns:jdbc="http://www.springframework.org/schema/jdbc"
     xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">

    <jdbc:embedded-database id="dataSource">
    	<jdbc:script location="classpath:database.sql"/>
    </jdbc:embedded-database>

    <bean id="blogDao" class="org.mybatis.spring.showcase.before.BlogDaoImpl">
    	<property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="blogService" class="org.mybatis.spring.showcase.before.BlogService">
    	<property name="blogDao" ref="blogDao" />
    </bean>

</beans>
