<html>
<head>    
    <title>Abator for iBATIS</title>
</head>

<body>

<h2>Introduction to Abator</h2>
<p><b>Abator:</b> <i>One who abates a nuisance.</i></p>

<p>Abator is a code generator for iBATIS.
 Abator will introspect a database
 table (or many tables) and will generate iBATIS artifacts that can be used to 
 access the table(s).  This lessens the initial nuisance of setting up objects and configuration
 files to interact with database tables.  Abator seeks to make a major impact on the large
 percentage of database operations that are simple CRUD (Create, Retrieve, Update, Delete).  You will
 still need to hand code SQL and objects for custom queries, or stored procedures.
</p>
<p>Abator will generate:</p>
<ul>
  <li>SqlMap XML Files</li>
  <li>Java Classes to match the primary key and fields of the table(s)</li>
  <li>DAO Classes that use the above objects (optional)</li>
</ul>

<p>Abator can run as a standalone JAR file, or as an Ant task, or as an Eclipse plugin.</p>

<p>Abator is currently classified as an Alpha level release.  It has been extensively tested with DB2 and MySql.  Please help us test
 (especially on other platforms), and report any feedback or errors
 to the Java user list.</p>

<h3>Abator News</h3>
<p>(January 19, 2006) Abator is repackaged as a standalone JAR file and Ant task and is no longer
 dependant on Eclipse.  The Eclipse plugin will continue to be enhanced, but most of the core
 function of Abator now resides in a standalone JAR file with no dependencies.  Also, standalone
 Abator does not support merging of Java files - that will remain in the Eclipse plugin only.</p>

<h2>Running Abator Standalone, or With Ant</h2>
<p>Download the file
 <a href="http://cvs.apache.org/builds/ibatis/alpha/abator0.6.0.zip">abator0.6.0.zip</a> and
 follow the instructions in the README.txt file</p>
 
<p>The zip file includes source code and JavaDoc</p>

<h2>Installing Abator in Eclipse</h2>
<p>When run as an Eclipse plugin, Abator will persist the generated Java classes and SqlMap files
 in Eclipse projects.  Abator can be run iteratively multiple time as the database design matures 
- and any hand coded additions to generated Java classes or SqlMap files will remain undisturbed.</p>

<p>Documentation for Abator is integrated into the Eclipse help system.</p>
 
<h3>Requirements</h3>
<ul>
  <li>Eclipse 3.0 or higher (including Rational Application Developer/Software Architect 6.0)</li>
  <li>JDK 1.4 or Higher</li>
</ul>
<h3>Automatic Eclipse Install</h3>
<p>You can use the built in Eclipse install support by following these steps:</p>
<ol>
  <li>Take the "Help&gt;Software Updates&gt;Find and Install" Menu Option</li>
  <li>Select the "Search for new features to install" radio button, press "Next"</li>
  <li>Press the "New Remote Site" button</li>
  <li>Enter the following information:
    <dl>
      <dt>Name:</dt>
      <dd>Abator for iBATIS Update Site</dd>
      <dt>URL:</dt>
      <dd>http://ibatis.apache.org/tools/abator</dd>
    </dl>
  </li>
  <li>Press OK</li>
  <li>Check the box next to "Abator for iBATIS Update Site"</li>
  <li>Follow the remainder of the install wizard</li>
</ol>
<h3>Manual Eclipse Install</h3>
<p>The automatic install is much preferred, but you can also install Abator manually if you
 desire. To install manually, download the file <a href="http://cvs.apache.org/builds/ibatis/alpha/abator0.5.1.zip">abator0.5.1.zip</a> and unzip
 the file to some convenient location.  Then follow these steps in Eclipse:</p>
<ol>
  <li>Take the "Help&gt;Software Updates&gt;Find and Install" Menu Option</li>
  <li>Select the "Search for new features to install" radio button, press "Next"</li>
  <li>Press the "New Local Site" button</li>
  <li>Navigate to the location where you unzipped the file.</li>
  <li>Press OK</li>
  <li>Follow the remainder of the install wizard</li>
</ol>

</body>

</html>