<html>
<head>    
    <title>iBATIS Data Access Objects</title>
</head>

<body>

<img src="dao.gif" align="left"/><h2>iBATIS Data Access Objects</h2>

<p>iBATIS Data Access Objects is an abstraction layer that hides the details of your persistence solution and provides a common API to the
rest of your application.</p>

<p>When developing robust Java and .NET applications, it is often a good idea to isolate the specifics of your persistence implementation 
behind a common API. Data Access Objects allow you to create simple components that provide access to your data without 
revealing the specifics of the implementation to the rest of your application. Using DAOs you can allow your application to 
be dynamically configured to use different persistence mechanisms. If you have a complex application with a number of different 
databases and persistence approaches involved, DAOs can help you create a consistent API for the rest of your application.</p>

<p>For Java users, the Data Access Objects framework is bundled as part of the iBATIS Database Layer, which
 includes the SQL Maps Framework. Although packaged together, the DAO Framework is completely independent and can be
 used without SQL Maps. .NET users can download the DataAccess framework seperately from the DataMapper framework.</p>

</body>

</html>