<html>
<head>    
<title>iBATIS Downloads</title>
</head>

<body>

<h2>iBATIS.NET Downloads</h2>

    <h4>Releases</h4>
    <ul>
      <li><a href="http://cvs.apache.org/dist/ibatis/ibatis.net/beta/IBatisNet.DataMapper-bin-1.3.0.zip">DataMapper 1.3</a> [<a href="http://cvs.apache.org/dist/ibatis/ibatis.net/beta/IBatisNet.DataMapper-bin-1.3.0.md5">MD5</a>] (Apache Beta)</li>
      <li><a href="http://cvs.apache.org/dist/ibatis/ibatis.net/beta/IBatisNet.DataAccess-bin-1.7.0.zip">DataAccess 1.7</a> [<a href="http://cvs.apache.org/dist/ibatis/ibatis.net/beta/IBatisNet.DataAccess-bin-1.7.0.md5">MD5</a>] (Apache Beta)</li>
      <li><a href="http://cvs.apache.org/dist/ibatis/ibatis.net/beta/Source.zip">Source Revision 356824</a> [<a href="http://cvs.apache.org/dist/ibatis/ibatis.net/beta/Source.md5">MD5</a>]</li>
    </ul>

    <ul>
      <li><a href="http://prdownloads.sourceforge.net/ibatisnet/DataMapper-bin-1.2.1.zip?download">DataMapper 1.2.1</a> (Apache General Availability)</li>
      <li><a href="http://prdownloads.sourceforge.net/ibatisnet/DataAccess-bin-1.6.1.zip?download">DataAccess 1.6.1</a> (Apache General Availability)</li>
      <li><a href="http://prdownloads.sourceforge.net/ibatisnet/iBATIS-src-SVN-179390.zip?download">Source Revision 179390</a></li>
      <li><a href="http://sourceforge.net/project/showfiles.php?group_id=109704">Old Releases (at SourceForge)</a></li>
    </ul>


  <h4>Examples</h4>
    <ul>
      <li><a href="http://prdownloads.sourceforge.net/ibatisnet/Tutorial-1.2.1.zip?download">DataMapper Tutorial 1.2.1 Docs and Source</a></li>
      <li><a href="http://prdownloads.sourceforge.net/ibatisnet/NPetshop-1.0.0.RC1.zip?download">NPetShop Example Application</a></li>
    </ul>

    <h4>Documentation </h4>

    <ul>
      <li>
        English
        <ul>
          <li><a href="http://cvs.apache.org/dist/ibatis/ibatis.net/beta/Doc-DataMapper-1.3.0.zip">DataMapper 1.3 Beta Docs</a> [<a href="http://cvs.apache.org/dist/ibatis/ibatis.net/beta/Doc-DataMapper-1.3.0.md5">MD5</a>] (CHM, PDF, and SDK Help)</li>
          <li><a href="http://cvs.apache.org/dist/ibatis/ibatis.net/beta/Doc-DataAccess-1.7.0.zip">DataAccess 1.7 Beta Docs</a> [<a href="http://cvs.apache.org/dist/ibatis/ibatis.net/beta/Doc-DataAccess-1.7.0.md5">MD5</a>] (CHM, PDF, and SDK Help)</li>
        </ul><br/>
        <ul>
          <li><a href="http://prdownloads.sourceforge.net/ibatisnet/Tutorial-1.2.1.zip?download">DataMapper Tutorial 1.2.1</a> Docs and Source</li>
          <li><a href="http://prdownloads.sourceforge.net/ibatisnet/DataMapper-doc-1.2.1.zip?download">DataMapper 1.2.1 Docs</a> (CHM, PDF, and SDK Help)</li>
          <li><a href="http://prdownloads.sourceforge.net/ibatisnet/DataAccess-doc-1.6.1.zip?download">DataAccess 1.6.1 Docs</a> (CHM, PDF, and SDK Help)</li>
          <li><a href="http://ibatisnet.sourceforge.net/docs/en/sdkhelp/web/">DataMapper 1.2.1 and DataAccess 1.6.1 Online SDK Help</a></li>
        </ul>
      </li>
    </ul>

</body>

</html>
