<html>
<head>    
    <title>iBATIS Tools</title>
</head>

<body>

<h2>iBATIS Tools</h2>

<p> This page lists the tools that are available for iBATIS.  Currently there is only one, but we hope to add more in the future.</p>

<table border="1">
  <tr>
    <th>Tool Name</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><a href="abator.html">Abator</a></td>
    <td>Abator is a code generator for iBATIS (the Java version only).  It 
        will generate SqlMaps, Java Domain classes, and DAO classes.
    </td>
  </tr>
</table>
     

</body>

</html>