<html>
<head>    
<title>iBATIS Downloads</title>
</head>

<body>

<h2>iBATIS for Java</h2>

    <ul>
      <li><a href="http://prdownloads.sourceforge.net/ibatisdb/iBATIS_DBL-2.1.5.582.zip?download">Stable Binaries and Source</a> (2.1.5 build 582)</li>
      <li><a href="http://prdownloads.sourceforge.net/ibatisjpetstore/iBATIS_JPetStore-4.0.5.zip?download">JPetStore Example Application</a></li>
      <li><a href="http://sourceforge.net/project/showfiles.php?group_id=61326">Old Releases (at SourceForge) </a></li>
    </ul>
    
<h2>iBATIS.NET</h2>

    <h3>General Availability</h3>
    <ul>
      <li><a href="http://prdownloads.sourceforge.net/ibatisnet/DataMapper-bin-1.2.1.zip?download">DataMapper 1.2.1 General Availability</a></li>
      <li><a href="http://prdownloads.sourceforge.net/ibatisnet/DataAccess-bin-1.6.1.zip?download">DataAccess 1.6.1 General Availability</a></li>
      <li><a href="http://prdownloads.sourceforge.net/ibatisnet/iBATIS-src-SVN-179390.zip?download">Source Revision 179390</a></li>
      <li><a href="http://prdownloads.sourceforge.net/ibatisnet/Tutorial-1.2.1.zip?download">Tutorial 1.2.1 Docs and Source</a></li>
      <li><a href="http://prdownloads.sourceforge.net/ibatisnet/NPetshop-1.0.0.RC1.zip?download">NPetShop Example Application</a></li>
      <li><a href="http://sourceforge.net/project/showfiles.php?group_id=109704">Old Releases (at SourceForge)</a></li>
    </ul>


<h2>Documentation </h2>

    <ul>
      <li>English 
        <ul>
          <li><a href="http://prdownloads.sourceforge.net/ibatisnet/DevGuide.pdf?download"><b>Generic Developer Guide</b></a></li>
          <li><a href="http://prdownloads.sourceforge.net/ibatisdb/iBATIS-SqlMaps-2.pdf?download">SQL Maps for Java, Developer Guide </a></li>
          <li><a href="http://prdownloads.sourceforge.net/ibatisdb/iBATIS-SqlMaps-2-Tutorial.pdf?download">SQL Maps for Java, Tutorial </a></li>
          <li><a href="http://prdownloads.sourceforge.net/ibatisdb/iBATIS-DAO-2.pdf?download">DAO for Java, Developer Guide</a></li>
          <li><a href="http://prdownloads.sourceforge.net/ibatisnet/Tutorial-1.2.1.zip?download">Tutorial 1.2.1 for .NET Docs and Source</a></li>
          <li><a href="http://prdownloads.sourceforge.net/ibatisnet/DataMapper-doc-1.2.1.zip?download">DataMapper 1.2.1 for .NET, Docs Bundle (CHM, PDF, and SDK Help)</a></li>
          <li><a href="http://prdownloads.sourceforge.net/ibatisnet/DataAccess-doc-1.6.1.zip?download">DataAccess 1.6.1 for .NET, Docs Bundle (CHM, PDF, and SDK Help)</a></li>
          <li><a href="http://ibatisnet.sourceforge.net/docs/en/sdkhelp/web/">DataMapper 1.2.1 and DataAccess 1.6.1 Online SDK Help</a></li>
        </ul>
      </li>
      <li>Chinese 
        <ul>
          <li><a href="http://prdownloads.sourceforge.net/ibatisdb/iBATIS-SqlMaps-2_cn.pdf?download">SQL Maps for Java, Developer Guide </a></li>
          <li><a href="http://prdownloads.sourceforge.net/ibatisdb/iBATIS-SqlMaps-2-Tutorial_cn.pdf?download">SQL Maps for Java, Tutorial </a></li>
        </ul>
      </li>
    </ul>

</body>

</html>
