<html>
<head>    
    <title>iBATIS Issue Tracker</title>
</head>

<body>

      <h2>Issue Tracker</h2>

      <p>iBATIS uses JIRA for tracking bugs, feature requests, tasks, and improvements. This is graciously provided
      for our use by Atlassian and the Apache Software Foundation.</p>

      <p><strong>NOTE: The issue tracker is NOT for general support questions!  If you need help, please see our
      <a title="How To Get Help" href="help.html">How To Get Help</a> page.</strong></p>

      <h2>iBATIS for Java</h2>
      <table width="100%">
        <tr > 
          <td width="40%">Bugs and Feature Requests</td>
          <td width="20%"><a title="iBATIS for Java Issue Tracker" href="http://issues.apache.org/jira/browse/IBATIS" target="_new">JIRA Issue Tracker</a></td>
          <td width="20%"><a title="iBATIS Issue Tracker Sign Up Page" href="http://issues.apache.org/jira/secure/Signup!default.jspa" target="_new">JIRA Sign Up Page</a></td>
          <td width="20%">&nbsp;</td>
        </tr>
      </table>

      <h2>iBATIS for .NET</h2>
      <table width="100%">
        <tr > 
          <td width="40%">Bugs and Feature Requests</td>
          <td width="20%"><a title="iBATIS for .NET Issue Tracker" href="http://issues.apache.org/jira/browse/IBATISNET" target="_new">JIRA Issue Tracker</a></td>
          <td width="20%"><a title="iBATIS Issue Tracker Sign Up Page" href="http://issues.apache.org/jira/secure/Signup!default.jspa" target="_new">JIRA Sign Up Page</a></td>
          <td width="20%">&nbsp;</td>
        </tr>
      </table>

</body>

</html>