<html>
<head>    
<title>iBATIS Downloads</title>
</head>

<body>

<h2>Downloading</h2>
<a name="Downloads"></a>

<p>Use the links below to download a binary distribution of the iBATIS Data
 Mapper or iBATIS Data Access Objects framework from
 one of our mirrors.  It is good practice to
    <a href="[location]#Verify Releases">verify the integrity</a>
 of the distribution files, especially if you are using one of our
 mirror sites.  In order to do this you must use the signatures from
 our <a href="http://www.apache.org/dist/ibatis/">main distribution
 directory</a>.</p>

<p>The Data Mapper and Data Access Objects frameworks are distributed as
    <code>zip</code> archives.</p>

<p>If you do not see the file you need in the links below, please see
 the <a href="http://www.apache.org/dist/ibatis/">main distribution
 directory</a> or, preferably, its <a href="[preferred]/ibatis/">mirror</a>.</p>

<br/>

<h2>Mirrors</h2>
<a name="Mirror"></a>

<p>You are currently using <b>[preferred]</b>.  If you encounter a
 problem with this mirror, please select another mirror.  If all
 mirrors are failing, there are <i>backup</i> mirrors (at the end of
 the mirrors list) that should be available.</p>

<form action="[location]" method="get" id="SelectMirror">
<p>
Other mirrors: <select name="Preferred">
 [if-any http]
  [for http]<option value="[http]">[http]</option>[end]
[end]
[if-any ftp]
  [for ftp]<option value="[ftp]">[ftp]</option>[end]
[end]
[if-any backup]
  [for backup]<option value="[backup]">[backup] (backup)</option>[end]
[end]
</select> <input type="submit" value="Change" />
</p>
</form>

<br/>

<h2>Current Releases</h2>
<a name="Current Releases"></a>

<h3>Java</h3>
<p>Currently, iBATIS for Java 2.1.0 is the best available version, see the
    <a href="[preferred]/ibatis/README.html">release notes</a>.</p>

<ul>
<li>Data Mapper and DAO binary <code>.zip</code> archive:
    <a href="[preferred]/ibatis/binaries/apache-ibatis-java-2.1.0-bin.zip">apache-ibatis-java-2.1.0-bin.zip</a>
 [<a href="http://www.apache.org/dist/ibatis/binaries/apache-ibatis-java-2.1.0-bin.zip.asc">PGP</a>]
 [<a href="http://www.apache.org/dist/ibatis/binaries/apache-ibatis-java-2.1.0-bin.zip.md5">MD5</a>]</li>
<li>JPetstore <code>.zip</code> archive:
 <a href="[preferred]/ibatis/binaries/apache-ibatis-java-jpetstore-2.1.0-bin.zip">apache-ibatis-java-jpetstore-2.1.0-bin.zip</a>
 [<a href="http://www.apache.org/dist/ibatis/binaries/apache-ibatis-java-jpetstore-2.1.0-bin.zip.asc">PGP</a>]
 [<a href="http://www.apache.org/dist/ibatis/binaries/apache-ibatis-java-jpetstore-2.1.0-bin.zip.md5">MD5</a>]</li>
<li>Source <code>.zip</code> archive:
    <a href="[preferred]/ibatis/source/apache-ibatis-java-2.1.0-src.zip">apache-ibatis-java-2.1.0-src.zip</a>
 [<a href="http://www.apache.org/dist/ibatis/source/apache-ibatis-java-2.1.0-src.zip.asc">PGP</a>]
 [<a href="http://www.apache.org/dist/ibatis/source/apache-ibatis-java-2.1.0-src.zip.md5">MD5</a>]</li>
</ul>

<h3>.NET</h3>
<p>Currently, iBATIS .NET DataMapper 1.1. and DataAccess 1.5 are the best available versions, see the
    <a href="[preferred]/ibatis/README.html">release notes</a>.</p>

<ul>
<li>DataMapper <code>.zip</code> archive:
    <a href="[preferred]/ibatis/binaries/apache-ibatis-cs-datamapper-1.1-bin.zip">apache-ibatis-cs-datamapper-1.1-bin.zip</a>
 [<a href="http://www.apache.org/dist/ibatis/binaries/apache-ibatis-cs-datamapper-1.1-bin.zip.asc">PGP</a>]
 [<a href="http://www.apache.org/dist/ibatis/binaries/apache-ibatis-cs-datamapper-1.1-bin.zip.md5">MD5</a>]</li>
<li>DataAccess <code>.zip</code> archive:
    <a href="[preferred]/ibatis/binaries/apache-ibatis-cs-dataaccess-1.5-bin.zip">apache-ibatis-cs-dataaccess-1.5-bin.zip</a>
 [<a href="http://www.apache.org/dist/ibatis/binaries/apache-ibatis-cs-dataaccess-1.5-bin.zip.asc">PGP</a>]
 [<a href="http://www.apache.org/dist/ibatis/binaries/apache-ibatis-cs-dataaccess-1.5-bin.zip.md5">MD5</a>]</li>
<li>Tutorial <code>.zip</code> archive:
    <a href="[preferred]/ibatis/binaries/apache-ibatis-cs-tutorial-1.2-bin.zip">apache-ibatis-cs-tutorial-1.2-bin.zip</a>
 [<a href="http://www.apache.org/dist/ibatis/binaries/apache-ibatis-cs-tutorial-1.2-bin.zip.asc">PGP</a>]
 [<a href="http://www.apache.org/dist/ibatis/binaries/apache-ibatis-cs-tutorial-1.2-bin.zip.md5">MD5</a>]</li>
<li>NPetshop <code>.zip</code> archive:
<a href="[preferred]/ibatis/binaries/apache-ibatis-cs-npetshop2-1.0-bin.zip">apache-ibatis-cs-npetshop2-1.0-bin.zip</a>
 [<a href="http://www.apache.org/dist/ibatis/binaries/apache-ibatis-cs-npetshop2-1.0-bin.zip.asc">PGP</a>]
 [<a href="http://www.apache.org/dist/ibatis/binaries/apache-ibatis-cs-npetshop2-1.0-bin.zip.md5">MD5</a>]</li>
<li>Source <code>.zip</code> archive:
    <a href="[preferred]/ibatis/source/apache-ibatis-cs-svn-199999-src.zip">apache-ibatis-cs-svn-199999-src.zip</a>
 [<a href="http://www.apache.org/dist/ibatis/source/apache-ibatis-svn-199999-src.zip.asc">PGP</a>]
 [<a href="http://www.apache.org/dist/ibatis/source/apache-ibatis-svn-199999-src.zip.md5">MD5</a>]</li>
</ul>

<br/><br/>

<h2>Nightly Builds</h2>
<a name="Nightly Builds"></a>

<p>These are currently not available.</p>

<!--p>If you wish to use the latest Data Mapper or Data Access Objects features, you can try downloading a
<a href="http://cvs.apache.org/builds/ibatis/">nightly build</a>.
</p-->

<p>If you want to build from the source, you can grab the latest code from our
    <a href="http://svn.apache.org/repos/asf/ibatis/">Apache SVN repository</a>.</p>

<br/>

<h2>Old Releases</h2>
<a name="Old Releases"></a>

<p>Older releases can be found at
    <a href="http://archive.apache.org/dist/ibatis/binaries/">
 http://archive.apache.org/dist/ibatis/binaries/</a>.  Those
 releases are only provided as <code>zip</code> archives that can be
 extracted by <code>jar xf </code><em>archive.zip</em> - we highly
 recommend to not use those releases but upgrade to the
    <a href="[location]#Current Releases">current</a> releases.</p>

<br/><br/>

<h2>Verify Releases</h2>
<a name="Verify Releases"></a>

<p>It is essential that you verify the integrity of the downloaded
 files using the PGP signature or the MD5 checksums.  The
 checksums are not as strong indicators as the PGP signature.</p>

<p>The PGP signatures can be verified using PGP or GPG.  First
 download the <a href="http://www.apache.org/dist/ibatis/KEYS">KEYS</a>
 as well as the <code>asc</code> signature file for the particular
 distribution.  Make sure you get these files from the
    <a href="http://www.apache.org/dist/ibatis/">main distribution
 directory</a>, rather than from a mirror. Then verify the signatures
 using</p>

<p><code>
% pgpk -a KEYS<br />
% pgpv apache-ibatis-java-2.1.0-bin.zip.asc<br />
</code>
<em>or</em><br />
<code>
% pgp -ka KEYS<br />
% pgp apache-ibatis-java-2.1.0-bin.zip.asc<br />
</code>
<em>or</em><br />
<code>
% gpg --import KEYS<br />
% gpg --verify apache-ibatis-java-2.1.0-bin.zip.asc
</code></p>

<p>Alternatively, you can verify the checksums on the files.  Unix
 programs called <code>md5</code> or
    <code>md5sum</code> are included in many unix
 distributions.  <code>*sum</code> is also available as part of
    <a href="http://www.gnu.org/software/textutils/textutils.html" target="_new">GNU
 Textutils</a>.  Windows users can get binary md5 programs from
    <a href="http://www.fourmilab.ch/md5/" target="_new">http://www.fourmilab.ch/md5/</a> or
    <a href="http://www.pc-tools.net/win32/freeware/console/" target="_new">http://www.pc-tools.net/win32/freeware/console/</a>.
    <a href="http://www.slavasoft.com/fsum/" target="_new">fsum</a> supports MD5 and
 SHA1.</p>

<p>We highly recommend to verify the PGP signature, though.</p>

</body>

</html>