<html>
<head>    
    <title>iBATIS Status</title>
</head>

<body>

<h2>Action Items</h2>

<p>(12 Jan 2005) "Alpha" distributions of iBATIS.NET DataMapper 1.1 and DataAccess 1.5 are available at the SourceForge site. This is not an ASF release, but it is under the Apache License.</p>

<p>(05 Jan 2005) "General Availability" release of iBATIS 2.0.9 is available at the SourceForge site. This is not an ASF release, but it is under the Apache License.</p>

<p>(16 Aug 2004) iBATIS is migrating to the Apache Software Foundation. Once we have passed through the Apache Incubator, iBATIS will become a top-level Apache project.</p>

<ul>
    <li> TODO: Move CVS and SVN repositories to svn.apache.org</li>
    <li> TODO: Move developer guides (PDF and HTML) from SourceForge site to Apache site.</li>
</ul>

<h3>Showstoppers</h3>

None.


</body>

</html>