<html>
<head>    
    <title>iBATIS News Archive</title>
</head>

<body>

     <h2>News Archive</h2>

     <h3>iBATIS Java 2.1.6 - Maintenance Release</h3>
     <p>(Nov 5, 2005) Just released a maintenance release to take care of the summer bug list. This puts us
       in a good spot to start planning for 2.2.0, where we're currently discussing some changes to the current
       version support levels, which will enable us to add a bunch of new features. If you aren't on the dev or
       Java mailing list, then join up to discuss! For now, enjoy the cleanliness of version 2.1.6.
     </p>
       <p>
         <a href="downloads.html">Get iBATIS 2.1.6 from the Downloads page.</a>
         <br/>
       </p>

     <h3>iBATIS for Ruby</h3>
     <p>(August 25, 2005) It's official.  iBATIS is no longer a simple tool or framework. It is a genuine
     approach to integrating object oriented applications and relational databases.  We could have said that
     when the .NET version was released, but now we MUST say it.  We're very excited to be merging with a
     project headed up by Jon Tirsen, a friend of mine and a fellow ThoughtWorker.  He's ported and innovated
     iBATIS for the Ruby language, which we're all very excited about.  In the next few weeks we'll be
     integrating iBATIS for Ruby into our infrastructure, and of course, Jon will become one of our valuable
     team members.</p>

     <h3>Developers, Developers, Developers...</h3>
     <p>(August 24, 2005) What a crazy month.  Everyone has been so busy over the summer!  But despite
     our schedules, we've made some amazing progress.  First and foremost, let's introduce our new
     committers.  The following people have been voted in as committers and are currently in the process
     of getting access to the iBATIS resources.
     </p>
     <ul>
       <li>Sven Boden</li>
       <li>Nathan Maves</li>
       <li>Jeff Butler</li>
       <li>Brice Ruth</li>
     </ul>

     <h3>iBATIS for Java 2.1.5 Released</h3>
     <p>(July 17, 2005) We've released a maintenance release, with a few bonuses as well.  The most
     notable changes are: 1) iBATIS no longer depends on commons logging, and 2) the entity resolvers
     are now smarter so that they should resolve DTDs without the network as long as you have
     a correct XML DOCTYPE header.  In addition to that, we've fixed a bunch of bugs including:
     </p>
     <ul>
       <li>Fixed IBATIS-136 groupBy not carried forward to extended result maps</li>
       <li>Fixed IBATIS-139 discriminator being applied to too many result maps (thanks Sven)</li>
       <li>Fixed IBATIS-152, 149, 116 null result sets now handled properly by JDBC logging classes (thanks Sven)</li>
       <li>Fixed IBATIS-146 consumes additional result sets before retrieving output params (JTDS fix)</li>
       <li>Fixed IBATIS-130 parameter maps don't allow for complete TypeHandler implementations</li>
       <li>Fixed IBATIS-148 fixed dynamic SQL in iterates</li>
     </ul>
     <p><a href="downloads.html">Get iBATIS 2.1.5 from the Downloads page.</a><br/>
     <i>Note:  This will be the last build deployed by SourceForge.
     Future builds will be deployed using Apache infrastructure.</i>
     </p>

     <h3>.NET DataMapper 1.2.1 and DataAccess 1.6.1 General Availability!</h3>
     <p>(June 29, 2005) The votes are in and both distributions are now tagged as GA!</p>
     <p><strong><a href="downloads.html">Download iBATIS.NET DataMapper 1.2.1
     and DataAccess 1.6.1!</a></strong></p>

    <h3>.NET DataMapper 1.2.1 and DataAccess 1.6.1 Beta!</h3>
    <p>(June 10, 2005) Just a few updates for the binary distributions and documentation:</p>
    <ul>
      <li>Added a DomSqlMapBuilder constructor to specify whether or not the SqlMap config
      document should be validated: <strong>DomSqlMapBuilder(bool validateSqlMapConfig)</strong></li>
      <li>Fixed JIRA-78 issue for specifying a cacheModel in another SqlMap.</li>
      <li>Updated a few exception messages, corrected some documentation errors, and updated tutorial docs and source.</li>
    </ul>
    <p><strong><a href="downloads.html">Download the iBATIS.NET DataMapper 1.2.1
    and DataAccess 1.6.1 Betas now!</a></strong></p>

    <h3>June 1: .NET DataMapper 1.2 and DataAccess 1.6 Alpha!</h3>

    <p>Yes, after 5 long and productive months, the new Alpha releases of the
    DataMapper and DataAccess frameworks are ready! We also have updated
    documentation and the latest source available for download.</p>

    <p>Here's a list of just some of the changes for the
    <strong>DataMapper</strong> framework:</p>

    <ul>
      <li>A new <strong>DomSqlMapBuilder configuration API</strong> (accepts
      Stream, Uri, FileInfo, and XmlDocument).</li>

      <li>Greatly <strong>improved logging</strong> and <strong>exception
      handling</strong>!</li>

      <li>New <strong>Custom Type Handler</strong> support for parameters and
      results!</li>

      <li><strong>Class inheritance</strong> mappings using
      <strong>&lt;discriminator&gt;</strong> and
      <strong>&lt;submap&gt;</strong> elements.</li>

      <li>Automatic SqlMap.config document validation with an updated
      schema.</li>

      <li>Optional Data Map (SqlMap) document validation using a new
      &lt;setting validateSqlMap="true"/&gt; element.</li>

      <li>Added Support for multiple "properties.config" files.</li>

      <li>Improved Oracle and PostgreSQL support!</li>

      <li>Updated the use of Castle.DynamicProxy to v1.1.0.</li>

      <li>And bug fixes too!</li>
    </ul>

    <p>On the <strong>DataAccess</strong> side, the framework has seen these
    updates:</p>

    <ul>
      <li>New <strong>&lt;daoSessionHandler&gt;</strong> configuration syntax
      (prior syntax is still supported).</li>

      <li>A new DomDaoManagerBuilder configuration API.</li>

      <li>Support for multiple "properties.config" files.</li>

      <li>The ability to define property "keys" and "values" in your
      dao.config file.</li>
    </ul>

    <p><strong><a href="downloads.html">Download the iBATIS.NET DataMapper 1.2
    and DataAccess 1.6 Alphas now!</a></strong></p>

    <h3>May 22: .NET DataMapper 1.1 and DataAccess 1.5 General
    Availability!</h3>

    <p>Some of the new features for the <strong>DataMapper</strong> framework
    include:</p>

    <ul>
      <li>A new <strong>CLR "type" attribute</strong> for parameterMaps and
      resultMaps.</li>

      <li>New <strong>"extends" attribute</strong> for parameterMaps,
      resultMaps, and statements.</li>

      <li>Support for <strong>Distributed Transactions</strong> using a
      TransactionScope object in IBatisNet.Common.</li>

      <li>Added support for <strong>embedded resources</strong> for your
      properties file and SqlMaps.</li>
    </ul>

    <p>Some of the new features for the <strong>DataAccess</strong> framework
    include:</p>

    <ul>
      <li>New <strong>NHibernate support</strong>.</li>

      <li>Support for <strong>Distributed Transactions</strong> using a
      TransactionScope object in IBatisNet.Common.</li>

      <li>The use of <strong>Castle.DynamicProxy v1.0.3</strong>.</li>
    </ul>

    <p>These releases include updated documentation for both the DataMapper
    and DataAccess frameworks. <br /><a href="downloads.html">Download
    iBATIS.NET DataMapper 1.1 and DataAccess 1.5</a></p>

    <h3>May 16: iBATIS for Java 2.1.0 Released!</h3>

    <p>This release includes some cool new features like &lt;discriminator&gt;
    and &lt;subMap&gt; tags for better support of class inheritance. There's
    an example of how to use these new tags <a
    href="http://svn.apache.org/repos/asf/incubator/ibatis/trunk/java/mapper/mapper2/test/com/ibatis/sqlmap/maps/Documents.xml" target="_new">here</a>.
    Normally 2.x minor releases are feature releases, but a number of bug
    fixes and improvements have made their way into 2.1.0 as well. <br /><a
    href="downloads.html">Download 2.1.0</a></p>

    <h3>May 9: New Website</h3>

    <p>Welcome to our new website. It's now more focused on the Apache iBATIS
    tools like Data Mapper and Data Access Objects, and the example Pet Store
    applications. If there's something missing that you found useful before,
    please let us know (see issue tracker to the left). The new site is free
    of tool dependencies and is based on Staticmesh from <a
    href="http://www.pols.co.uk/downloads/static-mesh/">Pols Consulting</a>.
    The idea is to maintain a single site, but we'll likely deploy it to both
    the apache.org site and ibatis.com, or perhaps we'll just forward
    ibatis.com to apache.org. Either way, we'll have one site that is
    maintainable by the whole team. Enjoy.</p>


     <h3>May 1: Successfully Incubated</h3>
	<p>We've been successfully incubated and are ready to become an official 
	Apache project. Our incubation checklist is complete, and now we 
	have some new checklist items to get started on. Basically it involves 
	moving the apache <strong>website </strong>and the <strong>mailing 
	lists</strong>. This will be done with minimal impact to our community. 
	Hopefully it will all be done within the next few weeks.</p>
	<p><a href="common/download.html"></a></p>

	<h3>Apache Incubator Status - Complete!</h3>
                  <ol>
                    <li><strong><font color="#006600">DONE &gt;&gt;</font>
                      Move Discussions to Apache Mailing Lists:</strong> The old 
                      SourceForge forums are now closed. We all use the Apache 
                      Mailing Lists now for support and development discussions. 
                      So far, I think we're happy with the results. See the support 
                      page for resource info.</li>
                    <li ><strong><font color="#006600">DONE &gt;&gt;</font>
                      Move Bug tracking to JIRA:</strong> The SourceForge bug 
                      tracker has been closed. We've moved to JIRA and so far 
                      the results are good. JIRA is a bit slower, but arguably 
                      does a much better job of organizing and tracking bugs and 
                      their lifecycle.</li>
                    <li ><strong><font color="#006600">DONE &gt;&gt;</font>
                      Apache Wiki:</strong> We've set up a Wiki to help us keep 
                      up with the fast pace of iBATIS, including new features 
                      and issues that would normally take months to get into the 
                      documentation. If you can't find it in the documentation, 
                      you'll hopefully find it on the Wiki <em>(FAQs, undocumented 
                      items, environment specific solutions and 3rd party contributions 
                      and tools)</em>.</li>
                    <li ><strong><font color="#006600">DONE &gt;&gt;</font>
                      Move Feature Requests to JIRA:</strong> Turns out all of 
                      the RFEs were invalid, fixed or otherwise unecessary to 
                      move. If you disagree, please feel free to reopen one of 
                      them at Apache JIRA.</li>
                    <li ><strong><font color="#006600">DONE &gt;&gt;</font>
                      Move Source Control to Apache SVN: </strong>We've migrated 
                      our SourceForge CVS repository to Subversion (SVN). It's 
                      now migrated fully to the Apache infrastructure. </li>
                    <li ><strong><font color="#006600">DONE &gt;&gt;</font><font color="#993399">
                      </font> New Apache Website (Forrest): </strong>Well, for 
                      now we have two websites. The forrest one at Apache is being 
                      maintained regularly and is accessible to all of our developers 
                      now. </li>
                    <li ><strong>iBATIS.com/net </strong>will be 
                      around for a long time. All of the key resources will be 
                      migrated to Apache, but I'll maintain this as a gateway 
                      to those resources for as long as the community finds it 
                      useful and not redundant.</li>
                  </ol>
                  
              <h2>Old Site News</h2>

      <p class="general"><strong>Feb 17: Maintenance Release 2.0.9b Now Available 
        </strong><br>

        I've released a maintenance release that takes care of nearly all of the 
        confirmed bugs in JIRA. I'd also like to point out the generic documentation 
        created by Ted Husted. It's a good read for both .NET and Java developers.<br>
        <strong><a href="common/download.html">Download 2.0.9b Maintenance Release</a></strong> 
        <em>&lt;&lt; updated Feb 20th to fix incomplete zip file (get build 550)</em><br>
        <a href="http://prdownloads.sourceforge.net/ibatisnet/DevGuide.pdf?download"><strong>Generic 
        Developer Guide (.NET and Java)</strong></a><strong> </strong></p>
      <p class="general"><strong>Feb 12: Fully Incubated!</strong> <br>

        Well, it took a little longer than expected, but we've successfully migrated 
        the entire iBATIS project to Apache. Now that we have our SVN repository 
        again, I've spent most of the day clearing out some overdue JIRA issues. 
        I'll be doing a maintenance release (2.0.9b) within a day or two in order 
        to keep you all up and running. As planned, 2.1 will be a feature release 
        with some cool stuff. You can also browse our repository or even checkout 
        the source yourself from the public SVN and build any time you like.<br>
        <a href="http://svn.apache.org/repos/asf/incubator/ibatis/trunk" target="_blank"><strong>Browse 
        the iBATIS Source Code</strong></a></p>
      <p class="general"><strong>Feb 7: iBATIS Everywhere!</strong> <em>(updated!)</em><br>
        iBATIS has been featured in an OnJava article by Sunil Patil. In addition 
        to that, Fabrizio has prepared a presentation that details his experience 
        with iBATIS on a real world Project. A new article has also been found 
        at IBM developerWorks that deals with DB2 and WebSphere. </p>
      <ul>
        <li class="general"><a href="http://www.onjava.com/pub/a/onjava/2005/02/02/sqlmaps.html" target="_blank" class="general"><strong>Read 
          the OnJava article by Sunil Patil</strong></a></li>

        <li class="general"><strong><a href="http://www-106.ibm.com/developerworks/db2/library/techarticle/dm-0502cline/" target="_blank">Read 
          about DB2 UDB, WebSphere, and iBATIS at IBM developerWorks</a></strong></li>
        <li class="general"> <span class="general"><a href="http://www.jugsardegna.org/vqwiki/jsp/Wiki?IBatisCaseStudy" target="_blank"><strong>View 
          the real world case study by Fabrizio Gianneschi</strong></a></span></li>
      </ul>
      <p class="general"><strong class="general">Jan 19 : CVS2SVN -- We've done 
        it. <br>
        </strong><a href="http://wush.net" target="_blank"></a>We've 
        successfully migrated CVS to a Subversion repository. We want to say a 
        big <strong>&quot;Thank You!&quot;</strong> to <strong>Michael Ching</strong> 
        of <strong>wush.net</strong> for helping us migrate and refactor our repository 
        in preparation for the move to Apache. If you're looking for professional 
        hosting for source control and bug tracking systems, Michael will take 
        good care of you at wush.net.</p>

      <p class="general"><strong class="general">Jan 
        1 , 2005 @ 1:05am -- iBATIS 2.0.9 Now Available -- Happy New Year!<br>
        </strong>Well, it's been a long time since we've released any major features. 
        We've been working on stabilizing the platform, organizing the team and 
        supporting the community. We like to consider this progress, but sometimes 
        we want is features. So here we go! Check out the new feature list:</p>
      <ul>
        <li class="general"><strong>Solution for N+1 selects for 1:M and M:N.</strong> 
          Version 2.0 was always designed for this, I just didn't have a chance 
          to implement it, until now. It's made possible by two small additions 
          to the mappings 
          <ul>
            <li>&lt;resultMap...groupBy=&quot;prop1,prop2&quot;&gt; </li>

            <li>&lt;result...resultMap=&quot;subResultMapForCollectionItems&quot;&gt;</li>
          </ul>
        </li>
        <li class="general"><strong>Remappable result sets!</strong> So, you're 
          one of those people who wants to use a dynamic SELECT clause in your 
          SQL Maps? Now you can. One simple addition to your select statements. 
          <ul>
            <li>&lt;select...remapResults=&quot;true&quot;&gt;</li>

          </ul>
        </li>
        <li class="general"><strong>Isolation Level Support. </strong>Now you 
          can specify the transaction isolation level when starting a transaction. 
          Simply specify it as a parameter of SqlMapClient.startTransaction (int 
          isolationLevel).</li>
        <li class="general"><strong>SQL Fragment Includes.</strong> No more repeated 
          where clauses. If you have a need to repeat (such as a count * and a 
          column list version of a query), now you can include the common part 
          of the statement. Simply declare an &lt;sql&gt; element with an id, 
          then &lt;include&gt; it with a refid. You can also use dynamic SQL, 
          inline parameters and anything else you can put in any other statement. 
          Two new elements: 
          <ul>

            <li>&lt;sql id=&quot;someSqlToInclude&quot;&gt; ... WHERE BLAH = BLAH 
              ...&lt;/sql&gt;</li>
            <li>&lt;include refid=&quot;someSqlToInclude&quot;/&gt;</li>
          </ul>
        </li>
        <li class="general"><strong>Default CLOB/BLOB Handlers.</strong> Why punish 
          everyone with a good database driver? We've now included default LOB 
          handlers for byte[] and large strings. Any mapping to byte[] with BLOB 
          or LONGVARGBINARY will use the BLOB handler; and any mapping to String 
          with CLOB or LONGVARCHAR will use CLOB. Only poor database drivers are 
          not supported, and may still require a custom tag handler. In those 
          cases, you can use the default ones as an example (they're implemented 
          as CTH).</li>

        <li class="general"><strong>Other features include: </strong>TopLink DAO 
          template and TX manager, support for directly implementing TagHandler 
          interface (in place of CTH), a completely refactored XML parser and 
          a few minor bug fixes.</li>
        <li class="general"><strong>Documentation coming soon.</strong> &quot;Yeah 
          right!&quot;, you say! Well, admittedly we have been slow to document 
          lately. Now we have a solution for keeping up with ourselves. Our<strong> 
          Wiki </strong>will serve as a documentation launch pad where everyone 
          (including us) can contribute to the documentation of the new features. 
          Good documentation will be promoted to the developer guide. </li>
      </ul>
      <p><strong>Nov 26, 2004: iBATIS version 2.0.8 Released</strong><br>

        Under the new release plan, we'll be alternating between bug fix releases 
        and feature releases. Version 2.0.8 is a bug fix release, and therefore 
        the next release will be a feature release. This approach will keep the 
        product stable while offering power users access to new features earlier 
        and on a more consistent release schedule.<br>
        <strong><a href="http://prdownloads.sourceforge.net/ibatisdb/iBATIS_DBL-2.0.8.470.zip?download">Download 
        Bug Release 2.0.8</a></strong></p>
      <p class="general"><strong>Nov 26, 2004: New version of sql2ibatis available 
        </strong><br>
        Alex Egorov has released a new version of his iBATIS configuration and 
        SQL generation tool. It generates configuration files and SQL based on 
        an input DDL file. Check it out. <br>
        <strong><a href="http://alxeg.narod.ru/ibatis/index.html">Download sql2ibatis</a></strong></p>
      <p class="general"><strong>Nov 16, 2004: Updated Chinese Documentation</strong><br>

        Huge thanks to <strong>Liutao</strong> for completely translating the 
        entire SQL Maps documenation and tutorial to Chinese!<br>
        <strong>Chinese <a href="http://prdownloads.sourceforge.net/ibatisdb/iBATIS-SqlMaps-2_cn.pdf?download">SQL 
        Maps Guide</a> <a href="http://prdownloads.sourceforge.net/ibatisdb/iBATIS-SqlMaps-2-Tutorial_cn.pdf?download">SQL 
        Maps Tutorial</a> </strong></p>
      <p class="general"><strong class="general">Oct 31, 2004: Happy Halloween 
        from iBATIS and The Apache Software Foundation<br>
        </strong>iBATIS has been voted into the Apache Incubator, and a number 
        of resources have been set up. Over the next few weeks, we'll be switching 
        over our current SourceForge resources over to Apache. To begin with, 
        this will include: </p>

      <ol>
        <li class="general"><strong>SourceForge Forums</strong> and mailing list 
          wil be ramped down. We may finish up with a few existing discussions 
          there, but at some point new posts will cease to be accepted. I'm sure 
          this comes as welcome news, as the SourceForge forums aren't that great. 
        </li>
        <li class="general"><strong>SourceForge CVS </strong>will be switched 
          to Apache's Subversion repository. This is another great bonus, as SourceForge 
          does not support SVN. </li>
        <li class="general"><strong>SourceForge Bug Tracker</strong> will be moved 
          to Apache Jira. Need we even explain how huge of an improvement this 
          will be? Jira rocks.</li>
        <li class="general"><strong>iBATIS.com </strong>will be around for a long 
          time. All of the key resources will be migrated to Apache, but I'll 
          maintain this as a gateway to those resources for as long as the community 
          finds it useful and not redundant.</li>

      </ol>
      <p><strong class="general">Oct 4, 2004: iBATIS .NET 1.0.0 Released!&nbsp; 
        - The first and only cross platform, open source persistence solution.</strong></p>
      <p>Well, there's really only one news story worthy of the front page today, 
        which is the release of iBATIS .NET 1.0.0.&nbsp; This is an absolutely 
        amazing achievement which brings the unique iBATIS solution to the world 
        of .NET. Special thanks to <b>Gilles Bayon</b> and <b>Ted Husted</b> for 
        making this possible.&nbsp; Now C# programmers can benefit from the flexibility 
        of SQL <i>and</i> the practicality of a time saving Data Mapper API.&nbsp; 
        In addition, Java developers can know that the skills they learn with 
        iBATIS are transferable to another platform.&nbsp; iBATIS truly is the 
        best of both worlds, and is now available in both worlds as well!&nbsp; 
        What would an iBATIS product be without the sale of pets online?&nbsp; 
        The<b> NPetShop 1.0</b> demo application is also available.&nbsp; There 
        is also a <b>developer guide</b> to help familiarize you with the iBATIS 
        way. <br>

        <b><a href="http://sourceforge.net/forum/forum.php?forum_id=412057">More 
        iBATIS.NET information and downloads here.</a></b></p>
      <p><strong class="general">Oct 4, 2004: This just in!&nbsp; iBATIS sells 
        out to the DARK side known as .NET!&nbsp; Or not...</strong></p>
      <p><strong style="font-weight: 400">Actually we didn't.&nbsp; The iBATIS 
        team is still committed to the Java platform, and in fact more than ever.&nbsp; 
        We're taking iBATIS to Apache to build upon their Open Source excellence 
        and to ensure that there is a community with development and support infrastructure 
        for iBATIS for years to come.&nbsp; We're still the same, only we're dueling 
        with both a red and a green lightsaber now...&nbsp; ;-)<br>

        </strong><strong><a href="common/download.html">Just to prove it, here's 
        iBATIS for Java 2.0.7</a></strong></p>
      <p><strong class="general">Sept 18, 2004: iBATIS 2.0.6 Released<br>
        </strong>This release is a summer bug fix release. That is, it fixes any 
        bugs that were found during the summer vacation months. :-) Enjoy.<br>
        <font size="2" face="Arial, Helvetica, sans-serif"><a href="common/download.html"> 
        Download 2.0.6</a></font> </p>
      <p><strong class="general">Sept 12, 2004: Busy Summer - Update<br>

        </strong>The iBATIS team has had a busy summer. Mixed in with vacations, 
        application to Apache, design discussions, day-to-day support, bug fixes...oh, 
        and real jobs, we've been keeping rather busy. I'm currently working on 
        a project in Palo Alto. I figured my evenings would be free to code iBATIS, 
        but we've been taking upwards of 3 hours to have dinner, so.... Anyway, 
        iBATIS has been voted into the Apache incubator and are currently awaiting 
        some resources (mailing lists, svn, jira, web etc.). In addition to that, 
        we're hoping to get to work on the current bug list and get a release 
        out. Updating the documentation is also at the top of our list. Watch 
        for these in the coming days, weeks and months.</p>
      <p><strong class="general">August 11, 2004: iBATIS 2.0.5 Featuring Custom 
        Type Handlers!<br>
        </strong>The first major feature since the 2.0 release is here. The new 
        Custom Type Handlers will allow you to deal with odd data, unsupported 
        JDBC types and translate or transform values. The implementation is simple, 
        and I'll try to get an example up on the site soon. This release also 
        features a number of DAO enhancements and bug fixes. See the <a href="common/changelog.html"> 
        change log</a> for details.<br>
        <font size="2" face="Arial, Helvetica, sans-serif"><a href="common/download.html" target="_blank"> 
        Download 2.0.5</a></font> </p>

      <p><strong class="general">July 19, 2004: SPEAK UP! Do you mention iBATIS 
        in a <u>book</u>, <u>article</u> or <u>website</u>?<br>
        </strong>Just by chance, I very often run into articles or chapters in 
        books that discuss iBATIS. If you've written something about iBATIS or 
        have included iBATIS as part of a discussion, why not let us know? We'll 
        post a link to your site, the article or the book. We want to help you 
        just like you help us. SO LET US KNOW! :-) The following link is an excellent 
        article about SQL Maps by Michael Klaene that I found while Googling something 
        about HP...no idea how that happened.<br>
        <font size="2" face="Arial, Helvetica, sans-serif"><a href="http://www.developer.com/lang/article.php/10924_3346301_1" target="_blank"> 
        Using iBatis SQL Maps (1.3.1) for Java Data Access (By Michael Klaene)</a></font> 
      </p>

      <p> <font size="2" face="Arial, Helvetica, sans-serif"><a href="http://sourceforge.net/forum/forum.php?thread_id=1110337&forum_id=206694" target="_blank"></a></font><strong class="general"><a href="http://www.amazon.com/exec/obidos/tg/detail/-/0764558315/qid=1090209421/sr=8-1/ref=pd_ka_1/104-4503236-8230349?v=glance&s=books&n=507846" target="_blank"> 
        <img src="images/withoutejb.jpg" border="0" align="left" width="50" height="63"></a>July 
        18, 2004: J2EE Development without EJB<br>
        </strong>Rod Johnson and Juergen Hoeller have released their latest book 
        entitled J2EE Development without EJB (Wrox; expert one-on-one series). 
        I just picked up my copy and it looks like it will be a winner. It discusses 
        everything you need to know about living without EJB and why you might 
        be better off that way.<br>
        <a href="http://www.amazon.com/exec/obidos/tg/detail/-/0764558315/qid=1090209421/sr=8-1/ref=pd_ka_1/104-4503236-8230349?v=glance&s=books&n=507846" target="_blank"> 
        Check it out at Amazon.com</a></p>
      <p><strong class="general">July 25, 2004: iBATIS 2.0.4<br>
        </strong>Another minor release with a number of bug fixes and new performance 
        optimizations. The getUserConnection() method was deprectated and replaced 
        by getCurrentConnection(). This helps facilitate a feature that has been 
        heavily requested in the last couple of weeks. There is also an additional 
        syntax for specifying user provided connections: openSession(Connection). 
        We expect to get some updated documentation for the new features soon.<br>

        <font size="2" face="Arial, Helvetica, sans-serif"><a href="common/download.html" target="_blank">Download 
        2.0.4</a></font> </p>
      <p> <font size="2" face="Arial, Helvetica, sans-serif"><a href="http://sourceforge.net/forum/forum.php?thread_id=1110337&forum_id=206694" target="_blank"></a></font><strong class="general">July 
        18, 2004: iBATIS 2.0.3<br>
        </strong>We just released 2.0.3 with a number of bug fixes and new performance 
        optimizations. We expect to get some updated documentation for the new 
        features soon.<br>
        <font size="2" face="Arial, Helvetica, sans-serif"><a href="common/download.html" target="_blank">Download 
        2.0.3 </a></font> </p>
      <p> <font size="2" face="Arial, Helvetica, sans-serif"><a href="http://sourceforge.net/forum/forum.php?thread_id=1110337&forum_id=206694" target="_blank"></a></font><strong class="general">July 
        15, 2004: Should iBATIS join Apache?<br>

        </strong>We've asked the question, now it's your turn to share your thoughts. 
        A thread has been started in the development forum.<br>
        <font size="2" face="Arial, Helvetica, sans-serif"><a href="http://sourceforge.net/forum/forum.php?thread_id=1110337&forum_id=206694" target="_blank">Tell 
        us What YOU think.</a></font></p>
      <p class="general"><strong>July 15, 2004: Another release is coming...after 
        Stampede<br>
        </strong>It's been a busy week. There are some new minor bug fixes and 
        features on the way. It's just a matter of a build and release that will 
        happen sometime this weekend. It's Stampede time here in Calgary, which 
        is partially why I also haven't mowed the lawn in 2 weeks. :-)<br>
        <a href="http://calgarystampede.com/" target="_blank">Calgary Stampede</a></p>
      <p class="general"><font size="2" face="Arial, Helvetica, sans-serif"><a href="common/sqlmaps.html"> 
        </a></font><font size="2" face="Arial, Helvetica, sans-serif"><a href="jpetstore/jpetstore.html"></a></font><strong>June 
        22, 2004: iBATIS 2.0.2, JPetStore 4.0.5, and iBATIS .Net 0.9! <br>

        </strong>A little house keeping, a couple of minor bug-fix releases and 
        the very first iBATIS.Net release!! Check it out!<br>
        <font size="2" face="Arial, Helvetica, sans-serif"><a href="common/sqlmaps.html">iBATIS 
        2.0.2</a> <strong>|</strong> <a href="jpetstore/jpetstore.html">JPetStore 
        4.0.5</a> | <a href="http://www.sf.net/projects/ibatisnet">iBATIS.Net 
        0.9</a> </font></p>
      <p class="general"><font size="2" face="Arial, Helvetica, sans-serif"><a href="common/sqlmaps.html"> 
        </a></font><font size="2" face="Arial, Helvetica, sans-serif"><a href="jpetstore/jpetstore.html"></a></font><strong>June 
        21, 2004: iBATIS 2.0.1<br>

        </strong>Tiny little bug fix release I wanted to get out before this lightning 
        storm blows up my new hard drives. ACK! <span class="blacktable"><font color="#FFFF00"><em><strong>~KAPOW!~</strong></em></font></span><br>
        <font size="2" face="Arial, Helvetica, sans-serif"><a href="common/sqlmaps.html">iBATIS 
        2.0.1</a></font></p>
      <p class="general"><font size="2" face="Arial, Helvetica, sans-serif"><a href="common/sqlmaps.html"> 
        </a></font><font size="2" face="Arial, Helvetica, sans-serif"><a href="jpetstore/jpetstore.html"></a></font><strong>June 
        17, 2004: iBATIS SQL Maps and Data Access Object 2.0 Final RELEASED!</strong><br>
        Almost exactly two years after being introduced to the OSS community, 
        iBATIS celebrates it's second birthday with the 2.0 Final release. This 
        milestone release means that the 2.0 codebase has surpassed the functionality, 
        reliability and performance of the 1.x codebase. It also means that there 
        are many cool new features to look forward to in the releases to come! 
        JPetStore 4.0.3 has also been released, and is a great example of both 
        SQL Maps 2.0 and DAO 2.0. <br>
        <font size="2" face="Arial, Helvetica, sans-serif"><a href="common/sqlmaps.html">iBATIS 
        2.0 Final<br>

        </a></font><font size="2" face="Arial, Helvetica, sans-serif"><a href="jpetstore/jpetstore.html">JPetStore 
        4.0.3</a> </font></p>
      <p class="general"><strong>June 14, 2004: Back from Chicago</strong><br>
        I don't think I mentioned that I had left, but I am now back from a short 
        <a href="http://www.funkybuddha.com/" target="_blank">business</a> trip 
        to Chicago. I am happy to note that there are only two minor bugs in the 
        tracker for the RC5 code base after 3 weeks of testing. Once these two 
        minor issues are cleared up I'm hoping for a 2.0 release by the end of 
        the week. All in favour, say &quot;I&quot; (say it, don't email it). ;-)<br>
        <font size="2" face="Arial, Helvetica, sans-serif"><a href="common/sqlmaps.html"></a><a href="common/sqlmaps.html">iBATIS 
        2.0</a></font></p>

      <p class="general"><strong>May 29, 2004: RC5 Doc Updates</strong><br>
        The docs have been updated. Thanks to everyone who was involved with proofreading 
        and writing in the corrections.<br>
        <font size="2" face="Arial, Helvetica, sans-serif"><a href="common/sqlmaps.html">See 
        the iBATIS 2.0 Homepage for doc downloads</a></font></p>
      <p class="general"><strong>May 25, 2004: iBATIS Release Candidate 5 (build 
        274) and JPetStore 4.0.2</strong><br>
        The latest release of iBATIS 2.0 includes lots of fun bug fixes. You'll 
        also notice the change to the site look and feel in preparation for iBATIS 
        2.0 final release that should be happening any time now. Remember the<strong> 
        </strong> <a href="common/rowhandler.html"> RowHandler API changed</a>, 
        so be sure to update your RowHandler related code. The latest JPetStore 
        release includes a small typo bug fix and updated iBATIS RC5 jars.<br>

        <font size="2" face="Arial, Helvetica, sans-serif"><a href="common/sqlmaps.html">Visit 
        the iBATIS 2.0 homepage for more</a> </font></p>
      <p class="general"><strong>May 12, 2004: JPetStore minor bug fix release 
        (4.0.1)</strong><br>
        A quick JP4 release to fix a minor typo.<br>
        <font size="2" face="Arial, Helvetica, sans-serif"><a href="jpetstore/jpetstore.html">Download 
        JP4 here.</a></font></p>
      <p class="general"> <strong></strong><strong>May 11, 2004: RC4 Released 
        --RowHandler Refactored</strong><br>

        Release Candidate 4 is available and contains a number of bug fixes and 
        some new features like DAO context aliases, improved caching, more XML 
        support (DOM) and a more flexible DTD for pluggable components. Most importanly 
        though is the change to the RowHandler interface.<strong> If you use RowHandlers, 
        please <a href="common/rowhandler.html">read this</a>.</strong><br>
        <font size="2" face="Arial, Helvetica, sans-serif"><a href="common/sqlmaps2.html">Download 
        RC4 here.</a></font> <em>(Updated documentation to follow shortly.)</em></p>
      <p class="general"> <strong></strong><strong>Apr 22, 2004: RC3 Documentation 
        Updated</strong><br>
        The docs have been updated with lots of fixed typos. Special thanks to 
        Derek Scherger (a.k.a. Hawkeye), who submitted an unbelievable (i.e. embarassing 
        for me) number of typos and some great suggestions! :-)<br>

        <font size="2" face="Arial, Helvetica, sans-serif"><a href="common/sqlmaps2.html">Download 
        the RC3 Docs here.</a></font> </p>
      <p class="general"> <strong>Apr 19, 2004: Meet Team iBATIS</strong>!<br>
        Since day one iBATIS has belonged to the community, but it was I [Clinton] 
        alone who supported it and developed it on your behalf. iBATIS has been 
        so successful that it has grown beyond a one man show. Therefore, I've 
        recruited some of the brightest minds and most committed iBATIS developers 
        to assist with moving the project forward. They are:</p>
      <ul>
        <li><strong> Clinton Begin</strong> - The original creator of iBATIS SQL 
          Maps, DAO framework and JPetStore </li>

        <li><strong>Ted Husted</strong> - Long time Struts framework author, expert 
          and all around cool guy</li>
        <li><strong>Gilles Bayon</strong> - .Net expert and the creator of the 
          Nausicaa .Net iBATIS port</li>
        <li><strong>Larry Meadors</strong> - Long time iBATIS contributor and 
          committed documenter</li>
        <li> <strong>Brandon Goodin</strong> - Contributor behind Dynamic SQL 
          and various fixes and features</li>

        <li><strong>Ka-Wai Chan</strong> - Fellow ThoughtWorker and bleeding-edge 
          technology guru</li>
      </ul>
      <p>Please welcome the new team in the Discussion Forums (<a href="http://sourceforge.net/forum/forum.php?forum_id=206694">Feature 
        Requests</a>, or <a href="http://sourceforge.net/forum/forum.php?forum_id=206693">Support 
        Requests</a>). </p>
      <p class="general"><strong>Apr 19, 2004: Introducing Nausicaa</strong><br>

        Are you working with .Net and miss iBATIS? Well, that can stop right now. 
        Gilles Bayon has a very good start on a .Net equivalent SQL Mapping framework 
        called Nausicaa. In the months to come the iBATIS team will be supporting 
        Nausicaa any way we can. <br>
        <a href="http://sourceforge.net/projects/nausicaa">Nausicaa Home Page</a></p>
      <p class="general"><strong>Apr 19, 2004: SQL Maps and DAO 2.0 Release Candidate 
        3 </strong><br>
        This release completes the &quot;to-do&quot; list for final release. It 
        adds a couple of small configuration features and a few minor bug fixes. 
        Final release is expected shortly. I've also updated the site examples 
        to 2.0. <br>
        <a href="common/sqlmaps2.html">Check out the status page for downloads.</a></p>

      <p class="general"><strong>Apr 11, 2004: SQL Maps and DAO 2.0 Release Candidate 
        2 </strong><br>
        This weekend I finished unpacking my house, except for my books. I can't 
        unpack those until I replace the yucky flowery heart border in my new 
        office. Anyway, iBATIS Database Layer components including SQL Maps 2.0 
        and Data Access Objects 2.0 have been released as Release Candidate 2. 
        For all of those waiting, I have in fact exposed the <strong>flushDataCache() 
        </strong>method for manually flushing the cache. I've also worked through 
        the entire list of bugs and squashed (or denied) every one of them. ;-) 
        <br>
        <a href="common/sqlmaps2.html">Check out the status page for downloads.</a></p>
      <p class="general"><strong>Apr 7, 2004: Back on Track!</strong><br>
        Well I returned back from NYC to my new house, which is still not completely 
        unpacked. After getting my other affairs in order, I had a look at my 
        SourceForge forums and email and realized how far behind I was. To top 
        it off, I had some difficulties with email that caused some of it to be 
        lost. DOH! Now that things are settling down, I'm looking to get some 
        long overdue work done on iBATIS. Look forward to it later this weekend.</p>

      <p class="general"><strong>Apr 5, 2004: Back from NYC </strong><br>
        Wow, what a fabulous trip! In NYC I was able to hook up with some of the 
        brightest minds in open source software including Ted Husted, Matt Raible, 
        Rod Johnson, Steve Raeburn, Jason Carriera --and of course we have Vic 
        Cekvenich to thank for it! It was a great time and the seminar was a great 
        success with lots of positive feedback. Awesome!</p>
      <p class="general"> <strong>Mar 31, 2004: Out of Town</strong><br>
        Well, the house is moved and I my network is up and running --all just 
        in time to take a little trip! I'll be on the road for a few days (until 
        Monday) and will therefore be unresponsive to email requests and forum 
        posts. Please help out by answering questions on the forums and posting 
        bug patches for the outstanding bugs. For now, I leave you with these 
        words of wisdom:</p>
      <p class="general"><em>Laptops do not drink beer. Not even in Canada. I 
        hope Dell understands. :-)</em></p>
      <p class="general"><strong>Mar 25, 2004: Moving to a new House</strong><br>

        I'll be a little less responsive over the next few days, as I am moving 
        to a new house. This means that my development computers/servers will 
        be boxed and packed. Normally it wouldn't be so long, but the wiring in 
        the new house was done by a weekend-warrior, and the polarity is backwards 
        on a number of the electrical outlets (including my new office). I'm no 
        electrician myself, so I'll have to get out my <em>Zap the Safety Bird</em> 
        manual and fix them before I can plug my electronics in. I will have my 
        laptop available for checking email, but I'm sure unpacking will keep 
        me busy too. </p>
      <p class="general"> <a href="common/sqlmaps2.html"></a><strong>Mar 20, 2004: 
        iBATIS SQL Maps and DAO 2.0 - Release Candidate 1</strong><br>
        The first release candidate has been released for SQL Maps and DAO 2.0. 
        <br>
        <a href="common/sqlmaps2.html">SQL Maps and DAO 2.0 RC 1 Status Page</a></p>
      <p class="general"><strong>Mar 17, 2004: Bug Tracker Opened</strong><br>

        I've opened the SourceForge bug tracker for the ibatisdb project to help 
        manage the bug lifecycle.<br>
        <a href="http://sourceforge.net/tracker/?group_id=61326&atid=496911" target="_blank">Bug 
        Tracker</a></p>
      <p class="general"><strong>Mar 15, 2004: JPetStore 4.0 Released</strong><br>
        The official example for SQL Maps 2.0 and DAO 2.0 is now available. JPetStore 
        4.0 has retired from the platform comparison business and is now exclusively 
        an example application for iBATIS and other frameworks. In addition to 
        using the iBATIS persistence layer products, it also sports a new <em>experimental</em> 
        presentation layer based on Struts.<br>
        <a href="jpetstore/jpetstore.html">JPetStore 4.0</a></p>

      <p class="general"><strong>Mar 8, 2004: SQL Maps and DAO 2.0 Beta 5 </strong><br>
        Both SQL Maps and DAO 2.0 Beta 5 are now available! This is a pretty big 
        release, as it resolves all known &quot;functional bugs&quot; and includes 
        a couple of non-trivial refactorings. Particularly the SqlMapClient interfaces 
        have been reshuffled (no major impacts) and the getSession() method has 
        been deprecated and renamed to openSession(). This release also contains 
        <strong>DAO 2.0</strong>, which has now passed all concurrency and performance 
        tests. <strong>Developer guides are also available for both frameworks!</strong><br>
        <a href="common/sqlmaps2.html">SQL Maps and DAO 2.0 Beta 5 Status Page</a></p>
      <p class="general"><strong>Feb 18, 2004: SQL Maps Beta 3 includes Documentation</strong><br>

        SQL Maps Beta 3 is released and includes the first draft of the 2.0 Developer 
        guide. Have a look at it and let me know what you think. I kept the same 
        basic format. Beta 3 also has some important changes including renaming 
        the <em>queryWithRowHandler()</em> method. It is now an overload of the 
        <em>queryForList()</em> method, which is more clear and concise. The &lt;procedure&gt; 
        <em>output=&quot;true|false&quot;</em> attribute has also been renamed 
        to <em>mode=&quot;IN|OUT|INOUT&quot;</em>, so that pure OUT parameters 
        are now supported. In addition to that, there are some bug fixes (of course) 
        and a new build.xml. <br>

        <a href="common/sqlmaps2.html">SQL Maps Beta Status Page</a></p>
      <p class="general"><strong>Feb 13, 2004: Valentine's Day (Tomorrow) and 
        a Happy XML Editor</strong><br>
        Only 2 days 'till Valentine's Day...have you done your shopping yet? Be 
        sure to go out and get your special someone a gift. Personally I prefer 
        the free ones that edit XML. If you don't have a good IDE that supports 
        XML editing and validation, or if you want something that starts up in 
        less than 12 minutes, try this one from BEA. It's small, simple, free 
        and works well. It makes a great gift too...I'm sure my wife will love 
        it. :-) Speaking of family issues, we just completed a house deal (sale 
        and purchase), which is what has been occupying my free time for the last 
        couple weeks. I'll be focusing on the next build of SQL Maps 2.0 Beta 
        in the next week or so (after Valentine's day of course). <br>
        <a href="http://dev2dev.bea.com/resourcelibrary/utilitiestools/xml.jsp">http://dev2dev.bea.com/resourcelibrary/utilitiestools/xml.jsp</a></p>
      <p class="general"><strong>Feb 1, 2004: Super Bowl and a couple or releases 
        </strong><br>
        What better way to spend a Sunday than watching Super Bowl, eating pizza 
        and coding? Yeah, I know it's pretty sad. :-) What is even more sad is 
        that it seems like Kid Rock was the only half-time performer who wasn't 
        lip synching! [Or is he just good at it?] And did P. Diddy have grey hair? 
        Man, even I'm getting old! Anyway, I've released 1.3.1 and 2.0 build 107. 
        Both are pretty small releases that just fix a couple of minor bugs. Cheers!</p>

      <p class="general"><strong>Jan 20, 2004: Long Overdue News -- Spring Framework 
        1.0 M4 includes iBATIS SQL Maps support</strong><br>
        Spring is a lightweight container that provides a great deal of pluggable 
        services and architectural components in a single package. It's a good 
        alternative to EJBs bloated app servers that can quickly empty your projects 
        wallet. <a href="http://www.springframework.org">http://www.springframework.org</a></p>
      <p class="general"><strong>Jan 20, 2004: iBATIS DB Layer 1.3.0 Released</strong><br>
        This is a small release that fixes a couple rare bugs and adds a few small 
        features...but then again, there's nothing like having the latest version. 
        :-) The major significance of the 1.3.0 release is that it celebrates 
        the maturity of the 1.x line, both in terms of stability and age. The 
        code base is actually 2 years old now! Although it didn't show up on SourceForge 
        until September 2002, the DAO framework and the foundations of SQL Maps 
        were in use at least 9 months earlier. So what better way to celebrate 
        than to rewrite the whole thing from the ground up...2.0 Beta 2 is available 
        (see above), so be sure to try it out. See the <a href="common/sqlmaps.html">SQL 
        Maps Homepage</a> or the <a href="common/sqlmaps2.html">SQL Maps 2.0 Status 
        page</a>for more.</p>

      <p><strong>Jan 18, 2004: Updated: Generate JavaBeans and SqlMaps from DDL</strong><br>
        Alex Egorov has written a Perl script that uses the DDL from your database 
        to generate JavaBeans and SQL Maps. It's in the early stages (<strong>0.1.8</strong>), 
        but will surely end up being a really cool tool! <a href="http://alxeg.narod.ru/ibatis/index.html">http://alxeg.narod.ru/ibatis/index.html</a> 
      </p>
      <p><strong></strong><strong>Jan 10, 2004: Guess What's New?</strong><br>
        I hope you enjoy the new website. :-)</p>
      <p><strong>Jan 5, 2004: Updated JPetStore/MySQL Tutorial</strong><br>

        Adrian Lanning is at it again writing fantastic tutorials for web developers. 
        The new tutorial discusses setup of JPetStore on Windows with MySQL and 
        Tomcat. It also sports a pretty new HTML format for easy reading. <a href="http://alanning.freeshell.org/text/jpetstore/jpetstore_win32_install_walkthrough.html" target="_blank">Check 
        it out!</a></p>
      <p><strong>Jan 5 , 2004: iBATIS 1.2.9b</strong><br>
        The biggest change in this release is the JAR file packaging. The framework 
        is now in 3 JAR files (common, sqlmap, dao). Other than that, it fixes 
        a bug or two and is once again compiled with JDK 1.3 for maximum compatibility. 
        <a href="common/download.html">Get it here.</a></p>
      <p><strong>December 24, 2003: Merry Christmas Everyone!</strong></p>
      <p><strong>December 24, 2003: Chinese Developer Guide.</strong> The iBATIS 
        DB Layer Developer Guide is now available in Chinese. Big thanks to Liu 
        Tao for the translation! You can get it from the download page.</p>

      <p><strong>December 14, 2003: SQL Maps 2.0 Update.</strong><br>
        Slowly but surely SQL Maps 2.0 is making its way to Beta 1. I'm hoping 
        to have it available before the end of December. With Christmas and wrapping 
        up the end of the year, it might be January before a public Beta becomes 
        available. If you'd like to try it out sooner, toss me an email and I'll 
        send you a JAR to play with.</p>
      <p><strong>December 14, 2003: DB Layer 1.2.9 Released.</strong> This is 
        a simple bug fix release that focuses on compatibility. The framework 
        is now compiled under JDK 1.4, but should still work with 1.3 without 
        issue. Also, due to version conflicts, CGLIB has been removed completely. 
        iBATIS DBL 2.0 will reimplemt it using the new CGLIB 2.0. For a complete 
        list of changes, see the download page.</p>
      <p><strong>November 8, 2003: A MySQL Tutorial for JPetStore</strong> has 
        been submitted by Adrian Lanning. If you're a MySQL user or interested 
        in trying it, download it here! I'll add it to the standard distribution 
        in the next release. Thanks Adrian!</p>
      <p><strong>October 12, 2003: iBATIS DB Layer 1.2.8! </strong>A small release 
        of iBATIS DBL. Some simple bug fixes (caching, stored procs) and an improvement 
        to the Paginated List API (prev/next now returns boolean for a more familiar 
        paradigm). Check it out!</p>

      <p><strong>October 12, 2003: JPetStore 3.1.1.</strong> Just a simple JP 
        release that includes DDL for some additional databases (HSQL, MySQL...). 
        No functional changes. Download it here.</p>
      <p><strong>October 1, 2003: Busy, Busy, Busy!</strong> But who isn't these 
        days? I've been super busy with &quot;life stuff&quot; such as changing 
        employers. Very exciting, but it's a lot of work! Work to work I suppose... 
        Things coming down the pipe hopefully in the coming weeks and months: 
        Response to Philip Greenspun's SUV comment (late but better than never), 
        some simple updates to iBATIS DBL, a small JPetStore release and most 
        importantly....iBATIS DBL 2 (alpha)! Tease... So please bear with me while 
        I complete my transition and we'll start seeing some new stuff soon!</p>
      <p><strong>September 5 , 2003: iBATIS DB Layer 1.2.7 Now Available! </strong>This 
        release introduces a completely new cache model that allows for pluggable 
        caching strategies. There are 2 new built in strategies (LRU, FIFO), in 
        addition to support for OSCache --a distributable caching framework! The 
        new cache model is completely backward compatible. Check it out!</p>

      <p><strong>August 17, 2003: iBATIS DB Layer 1.2.6 Now Available!</strong> 
        This is a small release that includes some enhancements such as: extendible 
        result maps, improved LOB support (driver dependant), performance improvements 
        (automapper, type registry, caching) and some bug fixes! Check it out!</p>
      <p><strong>July 27, 2003: JPetStore 3.1 is here!</strong> Taking the best 
        of all previous implementations and continuing in the tradition of JPetStore, 
        version 3 demonstrates an open, free, 5 layer web application architecture 
        using Struts and the iBATIS Database Layer. Now includes a new Apache 
        Axis web service and client too (3.1.0)! Check it out!</p>
      <p><strong>July 27, 2003: SQL Map Lesson by Rick Reumann!</strong> This 
        excellent Lesson takes you step-by-step through configuration and usage 
        of a number of the SqlMap features. Rick also has some great Struts tutorials 
        that are definitely worth working through. Check it out!</p>
      <p><strong>July 27, 2003: iBATIS DB Layer 1.2.5 Released!</strong> Loads 
        of new features and performance enhancements. This release includes some 
        exciting improvements lika an SqlMap validator (for Ant), new logging, 
        exception handling (nested) and byte[] support. It also includes other 
        fun new features like automated Paginated List support, Commons Logging 
        (Log4J), global transactions, configurable thread management, and a debug 
        JAR and source zip (for easy IDE integration). There is a Brand New Developer's 
        Guide too! Check it out!</p>

      <p><strong>July 22, 2003: JPetStore 3 is here! </strong>Taking the best 
        of all previous implementations and continuing in the tradition of JPetStore, 
        version 3 demonstrates an open, free, 5 layer web application architecture 
        using Struts and the iBATIS Database Layer. Check it out.</p>
      <p><strong>July 21, 2003: A Mailing List has been set up for the iBATIS 
        DB Layer.</strong> Check it out. The link is on the DB Layer homepate 
        and here.</p>
      <p><strong>July 20, 2003: DB Layer 1.2.5 Release Candidate 3 is available!</strong><br>
        This release includes some exciting improvements a new SqlMap validator 
        (for Ant), new logging, exception handling (nested) and byte[] support. 
        It also includes other fun new features like automated Paginated List 
        support, Commons Logging (Log4J), global transactions, configurable thread 
        management, a debug JAR and source zip (for easy IDE integration), and 
        the new performance enhancements mentioned in the previous betas. There 
        is a Brand New Developer's Guide too! Check it out, proofreaders welcome! 
        Download Page.</p>
      <p><strong>July 11, 2003: DB Layer 1.2.5 Release Candidate 2 is available!</strong> 
        This release includes some exciting improvements to logging, exception 
        handling (nested) and byte[] support. Of course it also includes other 
        fun new features like automated Paginated List support (fun!), Commons 
        Logging (Log4J), global transactions, configurable thread management, 
        stacked transactions, a debug JAR and source zip (for easy IDE integration), 
        and the new performance enhancements mentioned in the previous betas. 
        There is a Band New Developer's Guide too! Check it out, proofreaders 
        welcome! Download Page.</p>

      <p><strong>July 1, 2003: DB Layer 1.2.5 Release Candidate 1 is now available!</strong><br>
        This release includes some exciting additions including automated Paginated 
        List support (fun!), Commons Logging (Log4J), global transactions, configurable 
        thread management, stacked transactions, a debug JAR and source zip (for 
        easy IDE integration), and the new performance enhancements mentioned 
        in the previous betas. There is a Band New Developer's Guide too! Check 
        it out, proofreaders welcome! Download Page.</p>
      <p><strong>June 8, 2003: DB Layer 1.2.5 Beta 3 is now available!</strong> 
        This release includes some exciting additions including integration with 
        Jakarta DBCP (connection pooling), Commons Logging (Log4J), global transactions, 
        configurable thread management, stacked transactions, a debug JAR and 
        source zip (for easy IDE integration), and the new performance enhancements 
        mentioned in the previous betas. BUT! Most importantly, for this release 
        there is a Band New Developer's Guide! Check it out. Proofreaders welcome! 
        Download Page.</p>
      <p><strong>June 2, 2003: As requested, a Discussion Forum</strong> for DB 
        Layer is now available on Source Forge! It's available for support, feature 
        requests and general discussion. Give it a try.</p>
      <p><strong>May 21, 2003: DB Layer 1.2.5 Beta 2 has been released. </strong>This 
        new beta includes Lazy Loading of mapped Collections and Lists, which 
        should improve performance for many applications. Otherwise, it is mostly 
        focused on large scale performance and is functionally equivalent to 1.2.0 
        Final. Try it out and let me know what you think.</p>

      <p><strong>May 14, 2003: DB Axle 0.7.0 Beta has been released. </strong>It 
        includes new &quot;struts-like&quot; tags (form, html, logic, bean etc.). 
        I think it's cool, but maybe it's just me.... ;-) It's available here.</p>
      <p><strong>May 12, 2003: DB Layer 1.2.5 Beta 1 has been released.</strong> 
        It is purely focused on large scale performance and is functionally equivalent 
        to 1.2.0 Final. Try it out and let me know what you think.</p>
      <p><strong>May 11, 2003: DB Layer 1.2.0 Final has been released.</strong> 
        It includes a few new dynamic elements (Iterate!), Collection property 
        support, improved error messages (now indicates property), and some important 
        bug fixes. The developer guide has also been updated with the new features. 
        Download it now!</p>

      <p><strong>MAY 7, 2003: STILL MOVING! I'm still moving.</strong> Thanks 
        to a record breaking storm in Calgary during my moving weekend, I am a 
        little behind. Having my wisdom teeth out last week isn't helping either 
        (OW!). I hope to have my servers back up by Sunday May 11. Until then, 
        the JPetStore demos will be unavailable. The rest of the iBATIS site will 
        be unaffected.</p>
      <p><strong>Apr 7, 2003: DB Layer 1.2.0 Beta 2 has been released.</strong> 
        It includes a few new dynamic elements (Iterate!), Collection property 
        support, improved error messages (now indicates property), and some important 
        bug fixes. The developer guide has also been updated with the new features. 
        Download it now!</p>
      <p><strong>Mar 16, 2003: DB Layer 1.2.0 Beta 1 has been released! </strong>This 
        is the biggest feature release yet! It includes Dynamic SQL support, configurable 
        cache models, implicit result maps (automapping), better SQL Map batch 
        updates, optional prepared statement caching, DAO/SQL Map integration, 
        DAO transaction management, and a new set of examples included with the 
        download! The developer guide has also been updated with the new features. 
        Download it now!</p>
      <p><strong>Mar 5, 2003: JPetStore 2.1.0 has been released. </strong>This 
        version eliminates the direct XA code and uses JTA instead. It also includes 
        a bunch of stubbed in deployment descriptors for Sun ONE AS, WebLogic, 
        JBoss, Oracle 9iAS, and Orion. Download it here.</p>

      <p><strong>Feb 21, 2003: iBATIS Database Layer 1.1.0 Final has been released.</strong> 
        There are loads of new features including support for simple object types 
        (String, Integer, Boolean etc.) for both parameters and results (even 
        collections!). Also greatly improved error reporting for easier debugging, 
        support for Map types (HashMap) and null value mapping. The new 1.1.0 
        developer guide is also available! Try it out!</p>
      <p><strong>Feb 17, 2003: Updated JPetStore 1.2.3 - Updated iBATIS JAR.</strong></p>
      <p><strong>January 15, 2003: New versions of JPetStore, Breakdown and DB 
        Layer. Happy New Year!</strong></p>
      <p><strong>December 14, 2002: Thank you to everyone who participated in 
        Sun Developer Days </strong>on Dec 10 - 11 (Edmonton and Calgary). Lots 
        of good questions were asked and a lot of good discussion took place. 
        If you had a question that you were not able to ask, please feel free 
        to email me any time, and I'll do my best to help you out.</p>
      <p><strong>November 12, 2002: JPetStore 2.0 is here!</strong> Only 2 weeks 
        after Microsoft and TMC released their new study, a new, slimmer, faster 
        JPetStore will once again push Microsoft's .Net marketing agenda aside. 
        Check it out.</p>

      <p>&nbsp;</p>
      
</body>
</html>