<html>
<head>    
    <title>iBATIS Data Mapper</title>
</head>

<body>

<img src="sqlmaps.gif" align="left"/><h2>iBATIS Data Mapper</h2>

<p>The iBATIS Data Mapper provides a very simple and flexible means of moving data between your Java and .NET objects and a relational
database. Use the full power of real SQL without a single line of JDBC or ADO.NET code!</p>

<p>The Data Mapper framework (a.k.a. SQL Maps) will help to significantly reduce the amount of Java and .NET code that is normally needed
to access a relational database. This framework maps classes to SQL statements using a very simple XML descriptor. Simplicity 
is the biggest advantage of iBATIS over other frameworks and object relational mapping tools. To use iBATIS you need only be 
familiar with your own application domain objects (basic JavaBeans or .NET classes), XML, and SQL. There is very little else to learn. There is no complex scheme required to join tables or 
execute complex queries. Using iBATIS you have the full power of real SQL at your fingertips. The iBATIS Data Mapper framework can map 
nearly any database to any object model and is very tolerant of legacy designs, or even bad designs. This is all achieved 
without special database tables, peer objects or code generation.</p>

</body>

</html>