<html>
<head>    
    <title>Not Found</title>
</head>

<body>

<h2>Welcome to the iBATIS Project</h2>

<p>Sorry, we couldn't find the page you were requested.</p>

<p><b>The menu to the left will help you find what you're looking for.</b></p>

</body>

</html>