<html>
<head>    
    <title>iBATIS Mailing Lists</title>
</head>

<body>

      <h2>Mailing Lists</h2>

      <p>We have different mailing lists for iBATIS for Java and iBATIS for .NET users. If you have questions,
      there are many users on the lists who are more than willing to help every day of the week!  Our
      user lists are archived and searchable.</p>

      <p>The iBATIS Developer mailing list is where we discuss the future of the Data Mapper and
      Data Access frameworks.  Every once in a while, we talk about bug fixes too.  ;-)</p>

      <h2>iBATIS for Java</h2>
      <table width="100%">
        <tr >
          <td width="20%">Java User Mailing List &nbsp;</td>
          <td width="20%"><a href="mailto:user-java-subscribe@ibatis.apache.org">Subscribe</a></td>
          <td width="20%"><a href="mailto:user-java@ibatis.apache.org">New Message</a></td>
          <td width="20%"><a href="http://www.mail-archive.com/user-java@ibatis.apache.org/" target="_new">Archives/Search</a></td>
          <td width="20%"><a href="http://www.mail-archive.com/ibatis-user-java@incubator.apache.org/" target="_new">Old Incubator Archives</a></td>
        </tr>
        <tr >
          <td width="20%">Java DIGEST User Mailing List &nbsp;</td>
          <td width="20%"><a href="mailto:user-java-digest-subscribe@ibatis.apache.org">Subscribe</a></td>
          <td width="20%">&nbsp;</td>
          <td width="20%">&nbsp;</td>
          <td width="20%">&nbsp;</td>
        </tr>
      </table>

      <h2>iBATIS for .NET</h2>
      <table width="100%">
        <tr >
          <td width="20%">.NET User Mailing List</td>
          <td width="20%"><a href="mailto:user-cs-subscribe@ibatis.apache.org">Subscribe</a></td>
          <td width="20%"><a href="mailto:user-cs@ibatis.apache.org">New Message</a></td>
          <td width="20%"><a href="http://www.mail-archive.com/user-cs@ibatis.apache.org/" target="_new">Archives/Search</a></td>
          <td width="20%"><a href="http://www.mail-archive.com/ibatis-user-cs@incubator.apache.org/" target="_new">Old Incubator Archives</a></td>
        </tr>
        <tr >
          <td width="20%">.NET DIGEST User Mailing List &nbsp;</td>
          <td width="20%"><a href="mailto:user-cs-digest-subscribe@ibatis.apache.org">Subscribe</a></td>
          <td width="20%">&nbsp;</td>
          <td width="20%">&nbsp;</td>
          <td width="20%">&nbsp;</td>
        </tr>
      </table>

      <h2>iBATIS Development</h2>
      <table width="100%">
        <tr >
          <td width="20%">Developer Mailing List</td>
          <td width="20%"><a href="mailto:dev-subscribe@ibatis.apache.org">Subscribe</a></td>
          <td width="20%"><a href="mailto:dev@ibatis.apache.org">New Message</a></td>
          <td width="20%"><a href="http://www.mail-archive.com/dev@ibatis.apache.org/" target="_new">Archives/Search</a></td>
          <td width="20%"><a href="http://www.mail-archive.com/ibatis-dev@incubator.apache.org/" target="_new">Old Incubator Archives</a></td>
        </tr>
        <tr >
          <td width="20%">Subversion Commits List</td>
          <td width="20%"><a href="mailto:commits-subscribe@ibatis.apache.org">Subscribe</a></td>
          <td width="20%">&nbsp;</td>
          <td width="20%"><a href="http://www.mail-archive.com/commits@ibatis.apache.org/" target="_new">Archives/Search</a></td>
          <td width="20%"><a href="http://mail-archives.apache.org/mod_mbox/incubator-ibatis-commits/" target="_new">Old Incubator Archives</a></td>
        </tr>
      </table>

</body>

</html>