<html>
<head>    
    <title>iBATIS Resources</title>
</head>

<body>

      <h2>How To Get Help</h2>

      <ul>
        <li><strong>Support Requests and Questions</strong>: Check the
        <a href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Home">Wiki</a> and
        the <a href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Frequently+Asked+Questions">FAQ</a>.
        If your question isn't answered there, subscribe to the Java User mailing list or .NET User
        mailing list and send an email.</li>
        <li><strong>Bugs</strong>: Check the <a href="http://issues.apache.org/jira/browse/IBATIS">Java</a>
        or <a href="http://issues.apache.org/jira/browse/IBATISNET">.NET</a> JIRA issue tracker for an
        existing ticket. If there is an existing JIRA issue, feel free to add a comment. If there is no
        existing JIRA issue for the bug,
        <a href="http://issues.apache.org/jira/secure/Signup!default.jspa">create a JIRA account</a>
        and add a new ticket. JIRA will automatically send an email to the Developers mailing list to
        notify list subscribers of the issue.</li>
        <li><strong>Feature Requests and Improvements</strong>: Check the
        <a href="http://issues.apache.org/jira/browse/IBATIS">Java</a> or
        <a href="http://issues.apache.org/jira/browse/IBATISNET">.NET</a> JIRA issue tracker for
        an existing request for a new feature or improvement.  If there is an existing request, feel free
        to add a comment or vote for the request.  If there is no existing request, feel free to subscribe
        to the Developers mailing list and send an email describing the feature request.</li>
      </ul>

      <h2>iBATIS for Java</h2>
      <table width="100%">
        <tr > 
          <td width="40%">Bugs and Feature Requests</td>
          <td width="20%"><a href="http://issues.apache.org/jira/browse/IBATIS">JIRA Issue Tracker</a></td>
          <td width="20%"><a href="http://issues.apache.org/jira/secure/Signup!default.jspa">JIRA Sign Up Page</a></td>
          <td width="20%">&nbsp;</td>
        </tr>
        <tr > 
          <td>Java Mailing List &nbsp;</td>
          <td><a href="mailto:ibatis-user-java@incubator.apache.org">New Message</a></td>
          <td><a href="http://www.mail-archive.com/ibatis-user-java@incubator.apache.org/">Archive</a></td>
          <td><a href="mailto:ibatis-user-java-subscribe@incubator.apache.org">Subscribe</a></td>
        </tr>
        <tr > 
          <td>Java DIGEST Mailing List &nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><a href="mailto:ibatis-user-java-digest-subscribe@incubator.apache.org">Subscribe</a></td>
        </tr>
      </table>

      <h2>iBATIS for .NET</h2>
      <table width="100%">
        <tr > 
          <td width="40%">Bugs and Feature Requests</td>
          <td width="20%"><a href="http://issues.apache.org/jira/browse/IBATISNET">JIRA Issue Tracker</a></td>
          <td width="20%"><a href="http://issues.apache.org/jira/secure/Signup!default.jspa">JIRA Sign Up Page</a></td>
          <td width="20%">&nbsp;</td>
        </tr>
        <tr > 
          <td>.NET Mailing List</td>
          <td><a href="mailto:ibatis-user-cs@incubator.apache.org">New Message</a></td>
          <td><a href="http://www.mail-archive.com/ibatis-user-cs@incubator.apache.org/">Archive</a></td>
          <td><a href="mailto:ibatis-user-cs-subscribe@incubator.apache.org">Subscribe</a></td>
        </tr>
      </table>

      <h2>Resources Common to Java and .NET</h2>
      <table width="100%">
        <tr > 
          <td width="40%">Developer Mailing List</td>
          <td width="20%"><a href="mailto:ibatis-dev@incubator.apache.org">New Message</a></td>
          <td width="20%"><a href="http://www.mail-archive.com/ibatis-dev@incubator.apache.org/">Archive</a></td>
          <td width="20%"><a href="mailto:ibatis-dev-subscribe@incubator.apache.org">Subscribe</a></td>
        </tr>
        <tr > 
          <td width="40%">Subversion Commits List</td>
          <td width="20%">&nbsp;</td>
          <td width="20%"><a href="http://mail-archives.apache.org/mod_mbox/incubator-ibatis-commits/">Archive</a></td>
          <td width="20%"><a href="mailto:ibatis-commits-subscribe@incubator.apache.org">Subscribe</a></td>
        </tr>
        <tr >
          <td>Collaborative Development </td>
          <td><a href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Home">Wiki</a></td>
          <td><a href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Frequently+Asked+Questions">FAQ</a></td>
          <td>&nbsp;</td>
        </tr>
        <tr > 
          <td>Source Repository</td>
          <td><a href="http://svn.apache.org/repos/asf/incubator/ibatis/trunk">Subversion</a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>

      </table>

</body>

</html>