<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    $!headerContent
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="default.css">
</head>

<body>
    <div id="Logo">
    <img alt="iBATIS" valign="top" align="right" src="logo.jpg"/>
    <img alt="iBATIS Logo" align="left" src="ibatis.jpg"/>
    #parse("pages/newsbyte.vm")        
    </div>
    
    <div id="Header"><script type="text/javascript" language="javascript">document.write(document.title);</script></div>

    <div id="Content">
      #parse($innerTemplate)
    </div>

    #parse("template/menu.vm")

    <hr align="right" height="1" color="black" width="400"/>
    <p align="right">
    <i>Copyright &copy;2005 Apache Software Foundation</i>
    <br/><img alt="Apache Software Foundation" src="asf.jpg"/></p>
</body>
</html>
