<html>
<head>    
    <title>iBATIS Background</title>
</head>

<body>

<h2>A little history...</h2>

<p>The iBATIS project was started by Clinton Begin in 2001. Originally the focus was on the development of cryptographic software solutions. The first product to be released by iBATIS was Secrets, a personal data encryption and signing tool much like PGP. Secrets was written entirely in Java and was released under an open source license.</p>

<p>Shortly after releasing Secrets for Java, the iBATIS project turned a corner and began focusing on web and other internet related technologies. During the next year a couple of interesting pieces of software were developed, including the Axle web framework, which was an alternative to JSP. The Lookout email client was also about 90% completed before being set on the back burner, as more interesting challenges were to come...</p>

<h3>Enter the Pet Store "Benchmarks"</h3>

<p>In early 2002 Microsoft published a paper claiming that .Net was 10 times faster and 4 times more productive than J2EE. Realizing that this was simply not the case, the iBATIS project quickly responded and on July 1, 2002, JPetStore 1.0 was released. Based on the same Pet Store requirements, JPetStore demonstrated that Java could not only be more productive than .Net, but could also do so while achieving a better architecture than was used in the Microsoft implementation.</p>

<p>JPetStore made use of an interesting persistence layer that quickly captured the attention of the open source community. Shortly after releasing JPetStore, questions and requests for the SQL Maps and DAO frameworks spawned the project that would become known as iBATIS Database Layer. The iBATIS Database Layer includes two frameworks that simply happen to be packaged together: SQL Maps and DAO.</p>

<p>Today the iBATIS project is heavily focused on the persistence layer frameworks known as SQL Maps and Data Access Objects (DAO). JPetStore lives on as the official example of typical usage of these frameworks.</p>

<h3>What Does "ibatis" Mean?</h3>

<p>Today, the word "ibatis" is synonymous with the SQL Maps and the DAO frameworks --much like "xerox" is synonymous with "photocopy". But there is a meaning to the name.</p>

<p>Recall that iBATIS has roots in cryptography software. iBATIS was actually named by combining two words: "internet" and "abatis". Reference.com defines abatis this way:</p>

<ul>
    <li>
    ab-a-tis<br>
    n. pl. ab-a-tis (-tz) or ab-a-tis-es (-t-sz)<br>
    A defensive obstacle made by laying felled trees on top of each other with branches, sometimes sharpened, facing the enemy.
    </li>
</ul>
<p>Combining the typical "i" from Internet and "batis" form abatis therefore gave the implicit meaning of a defense for the Internet --in the case of iBATIS it was cryptographic defense provided by the Secrets application.</p>

<h3>How do you pronounce iBATIS?</h3>

<p>Since we invented the word, we get to say it however we like.  :-)</p>

<p>We pronounce it:  eye-BAT-iss</p>

<p>However, based on its heritage, it probably should be pronounced eye-BATE-iss, but like we said, we invented it!</p>



</body>
</html>