<html>
<head>
  <title>iBATIS News</title>
</head>

<body>
<div id="Block">
  <img alt="iBATIS Data Mapper process" src="flow.jpg" align="right"/>

  <h2>What is iBATIS?</h2>

  <p>The <a title="iBATIS DataMapper framework" href="datamapper.html">
    iBATIS Data Mapper framework</a> makes it easier to use a database with Java and
    .NET applications. iBATIS couples objects with stored procedures or SQL statements
    using a XML descriptor. Simplicity is the biggest advantage of the iBATIS Data
    Mapper over object relational mapping tools.</p>

  <p>To use the iBATIS Data Mapper, you rely on
    your own objects, XML, and SQL. There is little to learn that you don't already
    know. With the iBATIS Data Mapper, you have the full power of both SQL and stored
    procedures at your fingertips.</p>

  <p>Are you interested but want to know what others have said? Well, first see the various
    <a title="iBATIS Articles and Other Coverage"
       href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Articles+and+other+coverage+of+iBATIS"
       target="_new">articles and books</a>
    that have covered iBATIS and read some of our
    <a title="iBATIS Feedback"
       href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Feedback+and+Experiences" target="_new">user
      feedback</a>.
    Then, learn how to simple it is to use the iBATIS Data Mapper by reading our
    <a title="SQL Maps for Java Tutorial"
       href="http://prdownloads.sourceforge.net/ibatisdb/iBATIS-SqlMaps-2-Tutorial.pdf?download">Java Tutorial</a> or <a
      title="iBATIS.NET DataMapper Quick Start Guide"
      href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Quick+Start+Guide" target="_new">.NET Quick
    Start Guide</a>!</p>

</div>

<h2>News</h2>


<h3>iBATIS Java 2.1.7 - Maintenance Release - Last 1.3 Compatible Release!</h3>

<p>(Jan 21, 2006) Well, as we said back in November, iBATIS will require JDK 1.4 as of the 2.2.0 release.
  We expect that this 2.1.7 release will be the last JDK 1.3 compatible release that we make, unless a serious
  stability or security flaw is found, in which case we'll deploy a fix from a branch of the source.  This release
  contains a number of minor bug fixes, an enhanced entity resolver. 2.2.0 will be an interesting release with
  some new features that we've been looking forward to.
</p>

  <p>
    <a href="javadownloads.html">Get iBATIS 2.1.7 from the Downloads page.</a>
    <br/>
  </p>

  <h3>iBATIS.NET DataMapper V1.3 Beta and DataAccess V1.7 Beta</h3>
  <p>(Dec 15, 2005) The iBATIS.NET team is pleased to announce that the Beta distributions of the DataMapper V1.3 and DataAccess V1.7 frameworks are ready! 
  Although this is primarily for bug fixes and documentation updates, there are some important changes:</p>
  <ul>
    <li><b>Enabling Intellisense in Visual Studio 2003</b> for configuration and mapping files</li>
    <li><b>Updates to configuration and mapping schemas</b></li>
    <li>Now uses <b>Castle.DynamicProxy V1.1.5.0</b></li>
    <li>Added <b>assembly signatures</b></li>
    <li>Provides <b>custom logger support</b></li>
    <li><b>Removes the use of Xml serialization</b> for loading configuration files</li>
  </ul>

  <p>Please see the change log for more details.  Thanks once again for your comments and suggestions. Enjoy!</p>

  <p><a href="dotnetdownloads.html">Get the DataMapper V1.3 Beta and DataAccess V1.7 Beta from the Downloads page.</a></p>

    <h3>New Tools Section</h3>
<p>(Dec 10, 2005) We have added a tools section to the site.  The first tool is Abator - a code generator
 for iBATIS (Java only).  Abator generates SqlMaps, Java domain classes, and Java DAO classes.<p>
 
 <p><a href="tools.html">Check out the Tools Section.</a></p>

<h3>Have a look at JPetStore 5.0</h3>
<p>(Dec 8, 2005) JPetStore 5.0 is now available. This release focuses on cleaning up some of the mess created by
  JPetStore's heritage as a testbed for performance and comparisons to other implementations including LOC benchmarks,
  which are a horrible thing.  Significant changes and additions include:
</p>
<ul>
  <li><b>One step deploy!</b> JPetStore is now easier to deploy, and assuming you already have Tomcat and a JDK
    installed, it's literally one step.  Drop the WAR file into Tomcat's webapps folder, and you're good to go.
    JPetStore now includes HSQLDB and, with the default configuration, will deploy an in-memory database for
    the duration of your run.  Of course, all of the other databases such as Oracle and MS SQL Server are
    still supported as well.</li>
  <li><b>93% Unit test coverage.</b>  It's about time, as it was quite embarassing not having adequate unit
  tests for JPetStore for all of this time.  All layers are covered fairly well, including the actions
  services and data access objects.</li>
  <li><b>XHTML/CSS web pages.</b> No more 1990's style web development practices.  JPetStore now features web pages
    based on XHTML and CSS.  That said, I (Clinton) am not much of an artist, so it still is no marvel of
    visual style.  However, I think it does look quite a bit better.</li>
  <li><b>Upgraded dependencies.</b> All of the 3rd party dependencies have been upgraded to their latest versions.</li>
</ul>
   <p>
     <a href="javadownloads.html">Get JPetStore 5.0 from the Downloads page.</a>
   </p>

<h3>As of 2.2.0 -- JDK 1.4 Required, iBATIS 1.x Compat Libs Removed, DTDs moved to Apache, </h3>

<p>(Nov 8, 2005) All software systems that last any length of time tend to suffer from compatibility
  baggage. iBATIS is no different. iBATIS has remaind 99% backward compatible for 3.5 years now.
  Unfortunately the baggage necessary to continue that way is impeding our ability to move the framework
  forward. So it's time to pay the piper and upgrade. Here's the plan:
</p>
<ul>
  <li><b>JDK 1.4 will be required as of version 2.2.0.</b>  We will continue to support
  the 2.1.6 codebase for critical releases only.  No major features will be added to 2.1.6.  Version
  2.2.0 will be the next version released, leaving us some room for official maintenance releases
  for the 2.1.6 branch if necessary.  We estimate that about 13% of our users are still using JDK 1.3.</li>
  <li><b>iBATIS 1.x Compatibility libraries will be removed as of version 2.2.0.</b> Since iBATIS version 2.0 was
    released, it has included a backward compatibility library that allowed iBATIS 1.x applications to run on the
    2.0 framework.  We estimate that 3% of iBATIS users are using iBATIS 1.x, which is not enough to continue
  supporting the compatibility library.  Of course it will still be available from Subversion.</li>
  <li><b>All DTDs will be moved to ibatis.apache.org as of December 30th, 2005.</b> These DTDs will no longer be
    available from iBATIS.com.  Instead you must change your doctype declarations to point to the new location at
  ibatis.apache.org.  The new doctypes are as follows:</li>
</ul>
<pre>&lt;!DOCTYPE sqlMapConfig
      PUBLIC "-//ibatis.apache.org//DTD SQL Map Config 2.0//EN"
      "http://ibatis.apache.org/dtd/sql-map-config-2.dtd"&gt;
</pre>
<pre>
  &lt;!DOCTYPE sqlMap
      PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
      "http://ibatis.apache.org/dtd/sql-map-2.dtd"&gt;
</pre>
<pre>
  &lt;!DOCTYPE dao
      PUBLIC "-//ibatis.apache.org//DTD DAO Configuration 2.0//EN"
      "http://ibatis.apache.org/dtd/dao-2.dtd"&gt;
</pre>

</body>
</html>