<html>
<head>    
    <title>iBATIS Help</title>
</head>

<body>

      <h2>How To Get Help</h2>

      <h3>Support Requests and Questions</h3>
        <p>Check the
        <a title="iBATIS Wiki" href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Home" target="_new">Wiki</a> and
        the
        <a title="iBATIS FAQ" href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Frequently+Asked+Questions" target="_new">FAQ</a>.
        If your question isn't answered there, subscribe to the
        <a title="iBATIS Java User Mailing List" href="mailinglists.html">Java User mailing list</a> or
        <a title="iBATIS .NET User Mailing List" href="mailinglists.html">.NET User mailing list</a>
        and send an email.</p>

      <h3>Bugs</h3>
        <p>Check the <a href="http://issues.apache.org/jira/browse/IBATIS" title="iBATIS Java Issue Tracker" target="_new">Java</a>
        or <a href="http://issues.apache.org/jira/browse/IBATISNET" title="iBATIS.NET Issue Tracker" target="_new">.NET</a> JIRA issue tracker for an
        existing ticket. If there is an existing JIRA issue, feel free to add a comment. If there is no
        existing JIRA issue for the bug,
        <a href="http://issues.apache.org/jira/secure/Signup!default.jspa" title="Create a JIRA account" target="_new">create a JIRA account</a>
        and add a new ticket. JIRA will automatically send an email to the Developers mailing list to
        notify list subscribers of the issue.</p>

      <h3>Feature Requests and Improvements</h3>
        <p>Check the
        <a href="http://issues.apache.org/jira/browse/IBATIS" title="iBATIS Java Issue Tracker" target="_new">Java</a> or
        <a href="http://issues.apache.org/jira/browse/IBATISNET" title="iBATIS.NET Issue Tracker" target="_new">.NET</a> JIRA issue tracker for
        an existing request for a new feature or improvement.  If there is an existing request, feel free
        to add a comment or vote for the request.  If there is no existing request, you can to subscribe
        to the <a title="iBATIS Developers Mailing List" href="mailinglists.html">Developers mailing list</a> 
        and send an email describing the feature request.</p>

</body>

</html>