<html>
<head>    
    <title>iBATIS Team</title>
</head>

<body>

<h2>Committers</h2>

<ul>
  <li>Clinton Begin</li>
  <li>Gilles Bayon</li>
  <li>Ted Husted</li>
  <li>Brandon Goodin</li>
  <li>Larry Meadors</li>
  <li>Roberto Rabe</li>
  <li>Ron Grabowski</li>
  <li>Sven Boden</li>
  <li>Brice Ruth</li>
  <li>Jeff Butler</li>
  <li>Nathan Maves</li>
</ul>

<h2>Contributors</h2>
<i>The following people, although not yet committers, make significant contributions in 
the iBATIS community that makes everyone's experience easier and more fun.</i>
<ul>
  <li>Kris Jenkins</li>
  <li>Fabrizio Gianneschi</li>
</ul>

<h2>Thanks to...</h2>

<ul>
  <li>The Spring Team - For integration, improvements and involvement over the years. - http://www.springframework.org </li>
  <li>The Hibernate Team - For being good neighbours in a complex problem space. - http://www.hibernate.org</li>
  <li>All of the authors of the articles, feedback and shared experiences that appear on our <a href="resources.html">wiki</a></li>
</ul>


</body>

</html>