<html>
<head>    
    <title>iBATIS Events</title>
</head>

<body>

<h3>December 10, 2005 - San Diego, California, USA</h3>
<strong>ApacheCon US 2005</strong>
<p>
Clinton will discuss Dealing with Enterprise Database Challenges In Object Oriented Applications.
This presentation will focus on database challenges that object oriented developers often face in an
enterprise environment. Object Relational Mapping (ORM) tools are not ideal for all databases, and
therefore alternatives must be sought. In this discussion, we'll focus on using the iBATIS Data Mapper
to achieve similar advantages as provided by an ORM tool, but without some of the complications that
can arise from an object relational mapping approach. The iBATIS Data Mapping framework is a popular
alternative to ORM tools, while being a complementary addition to any architecture.<br/>
Visit the <a href="http://apachecon.com/2005/US/" target="_new">ApacheCon homepage</a> for more information.
</p>

<h3>November 11th, 2005 - Denver, Colorado, USA</h3>
<strong>Rocky Mountain Software Symposium</strong>
<p>
Clinton will discuss Dealing with Enterprise Database Challenges In Object Oriented Applications.
This presentation will focus on database challenges that object oriented developers often face in an
enterprise environment. Object Relational Mapping (ORM) tools are not ideal for all databases, and
therefore alternatives must be sought. In this discussion, we'll focus on using the iBATIS Data Mapper
to achieve similar advantages as provided by an ORM tool, but without some of the complications that
can arise from an object relational mapping approach. The iBATIS Data Mapping framework is a popular
alternative to ORM tools, while being a complementary addition to any architecture.<br/>
Visit the <a href="http://www.nofluffjuststuff.com/" target="_new">No Fluff Just Stuff homepage</a> for more information.
</p>

<h3>October 5, 2005 - Orlando, Florida, USA</h3>
<strong>Java In Action</strong>
<p>Clinton will discuss Dealing with Enterprise Database Challenges In Object Oriented Applications.
This presentation will focus on database challenges that object oriented developers often face in an
enterprise environment. Object Relational Mapping (ORM) tools are not ideal for all databases, and
therefore alternatives must be sought. In this discussion, we'll focus on using the iBATIS Data Mapper
to achieve similar advantages as provided by an ORM tool, but without some of the complications that
can arise from an object relational mapping approach. The iBATIS Data Mapping framework is a popular
alternative to ORM tools, while being a complementary addition to any architecture.<br/>
Visit the <a href="http://javainaction.techtarget.com/" target="_new">Java In Action homepage</a> for more information.
</p>

<h3>Sept 30, 2005 - Calgary, Alberta, Canada</h3>
<strong>Western Canada Java Software Symposium</strong>
<p>
Unfortunately I can't attend this conference as I had planned.  But you should go anyway! ;-) Super high concentration
of talent.  I will be at the Denver show though.<br/>
Visit the <a href="http://www.nofluffjuststuff.com/" target="_new">No Fluff Just Stuff homepage</a> for more information.
</p>

<h3>Sept 8, 2005 - Detroit, Minnesota, USA</h3>
<strong>Detroit Java User Group</strong>
<p>
<strong>Antony Joseph</strong> will be presenting 'Java persistence using iBATIS' at the Detroit
Java User Group meeting. The meeting is free and open to the public.<br/>
See <a href="http://www.detroitjug.org" target="_new"> http://www.detroitjug.org</a> for more details.
</p>

<h3>June 23, 2005 - Milan</h3>
<strong>SUN Microsystems Java Conference</strong>
<p>
Fabrizio Gianneschi will present iBATIS. The full description of the event is available here:<br/>
<a title="Fabrizio Gianneschi iBATIS Presentation" href="http://it.sun.com/eventi/jc05/programma.html#parallela6_23" target="_new">
 http://it.sun.com/eventi/jc05/programma.html#parallela6_23</a>
</p>

<h3>October 30, 2004 - Italy</h3>
<strong>Seminar - Persistence of Java Objects</strong>
<p>The Java User Group Sardegna (http://www.jugsardegna.org) will hold a seminar about some of the technologies available nowadays in Java to handle the problem of the persistence. Hosted at University of Cagliari, the event will cover
a range of topics like Serialization, JDBC, XML/XMI, iBATIS, JDO, Hibernate and the Eclipse Modeling Framework.

<h3>April 3rd, 2004 - New York City</h3>
<strong>Seminar - Developing Web Apps using Open Source Tools</strong>
<p>Ted Husted (Struts in Action), Rod Johnson (Spring Framework), Marc Canter (Macromedia blogs.it), Howard Lewis Ship (Tapestry/HiveMind), Matt Raible (Displaytag/StrutsMenu), Clinton Begin (iBatis SQL Maps), Vic Cekvenich (basicPortal).

<h3>December 10th, 2003 - Calgary Java Users Group</h3>
<strong>SQL Mapping: An alternative to Object Relational Mapping</strong>
<p>Object Relational Mapping (ORM) is often perceived as a "silver bullet" of software development. It can save us time, code and even improve performance. Indeed, fantastic tools like Hibernate and TopLink can do the job very well. However, like any other tool or framework there are limitations. Sometimes an ORM just won't work, or is simply not the best solution. SQL Mapping offers a different approach to solving the challenges we face when integrating Relational Data with Objects. SQL Mapping can offer an elegant solution even when dealing with especially difficult data models or object models that are beyond our control. An SQL Mapping framework can also provide much of the same benefits offered by ORM tools, such as improved performance, cleaner APIs and reduced code.

<h3>December 10th & 11th, 2002 - Sun Developer Days</h3>
<p>Come hear the real story behind the Pet Store comparisons at Developer Days in Edmonton (Dec 10th) and Calgary (Dec 11th). Clinton will take the marketing out of the Pet Store implementations and show why Java is right choice for serious enterprise development. Online registration is now available at Sun's web site.</p>



</body>
</html>