<html>
<head>    
    <title>License</title>
</head>

<body>

<h2>The Apache License</h2>

<p> The iBATIS source code and documentation is distributed under the <a class="external" href="http://www.apache.org/licenses/LICENSE-2.0" target="_new">Apache License 2.0</a>.</p>


</body>

</html>