<html>
<body>
<div id="content">


  <div class="post">
    <div class="post-bgtop">
      <div class="post-bgbtm">
        <h2 class="title">About mybatis</h2>

        <div class="entry">

          <h2>The Apache License</h2>

          <p> The mybatis source code and documentation is distributed under the <a class="external"
                                                                                   href="http://www.apache.org/licenses/LICENSE-2.0"
                                                                                   target="_new">Apache License 2.0</a>.
          </p>

          <h2>A little history...</h2>

          <p>In 2001 a project called iBATIS was started by Clinton Begin. Originally the focus was on the development of
            cryptographic software solutions. The first product to be released by iBATIS was Secrets, a personal data
            encryption and signing tool much like PGP. Secrets was written entirely in Java and was released under an
            open source license.</p>

          <p>Shortly after releasing Secrets for Java, the iBATIS project turned a corner and began focusing on web and
            other internet related technologies. During the next year a couple of interesting pieces of software were
            developed, including the Axle web framework, which was an alternative to JSP. The Lookout email client was
            also about 90% completed before being set on the back burner, as more interesting challenges were to come...</p>

          <h3>Enter the Pet Store "Benchmarks"</h3>

          <p>In early 2002 Microsoft published a paper claiming that .Net was 10 times faster and 4 times more
            productive
            than J2EE. Realizing that this was simply not the case, Clinton quickly responded and on July 1,
            2002, iBATIS JPetStore 1.0 was released. Based on the same Pet Store requirements, JPetStore demonstrated that Java
            could not only be more productive than .Net, but could also do so while achieving a better architecture than
            was used in the Microsoft implementation.</p>

          <p>JPetStore made use of an interesting persistence layer that quickly captured the attention of the open
            source
            community. Shortly after releasing JPetStore, questions and requests for the SQL Maps and DAO frameworks
            spawned
            the project that would become known as iBATIS Database Layer. The iBATIS Database Layer includes two
            frameworks packaged together: SQL Maps and DAO.</p>

          <p>From that point on the iBATIS project is heavily focused on the persistence layer frameworks known as SQL Maps and Data
            Access Objects (DAO). JPetStore lives on as the official example of typical usage of these frameworks.</p>

          <p>The project was maintained primarily by Clinton Begin, Larry Meadors and Brandon Goodin.</p>

          <h3>The Apache Software Foundation</h3>

          <p>In 2004 Clinton donated iBATIS in both name and code to the Apache Software Foundation.  There it became
          Apache iBATIS and the ASF served as the home of iBATIS for 6 years.  People came and went, but a few new names
          were added to the list of regular project maintainers, including Nathan Maves and Jeff Butler.   Jeff's code generator
          called Ibator gained popularity and was soon a well respected piece of the iBATIS toolset.</p>

          <p>In six years a lot
          had changed in the world of open source software.  Everything from development practices, infrastructure,
          licensing and even database technology changed drastically.  In 2010 the core development team decided that
          these developments were worth exploring and that iBATIS would benefit from some significant changes.  This
          was a serious consideration and the move meant leaving the iBATIS name behind.</p>

          <h3>Enter mybatis</h3>

          <p>The original iBATIS team is happy to present you with the new name for the world's most popular SQL based
          data mapping solution for object-oriented software development.</p>

          <p>mybatis.</p>

          <p>The new project benefits from improved development practices, automation, simpler community involvement
          and unified infrastructure.  This is a launch pad for the future, where we hope to release more often,
          encourage contributions and identify a clear new direction for the project.</p>

          <h3>What's in a Name?</h3>
          <div style="float:right;border-left:1px #CCCCCC solid; padding-left:15px; margin-left:15px">
            <a href="http://en.wikipedia.org/wiki/Batis_%28bird%29"><img style="clear:both" src="images/batis.jpg" border="0" alt="Source: Alan Manson via wikipedia"></a>
          </div>
          <p>Coming up with a new name wasn't easy.  The old name had roots in cryptography and security (derived
            from "abatis").  After some research we discovered that "batis", among other things, was a genus
            of nice little birds.  How can that be anything but good?  :-)</p>

        </div>
      </div>
    </div>

  </div>
</div>


</body>
</html>
