<html>
<head>
  <title>MyBatis for .NET</title>
</head>

<body>

<div class="post">
  <div class="post-bgtop">
    <div class="post-bgbtm">
      <h2 class="title">MyBatis.NET Data Mapper 1.6.2 GA</h2>
      <p class="byline">This is the core data mapping framework for .NET.</p>
      <div class="entry">
        <ul>
          <li>
            <a href="http://mybatisnet.googlecode.com/files/IBatis.DataMapper.1.6.2.bin.zip">
              <b>Download the Data Mapper for .NET</b>
            </a>
          </li>
          <li>
            <a href="http://mybatisnet.googlecode.com/files/Doc-DataMapper-1.6.2.zip">
              Download the Data Mapper User Guide (English)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="post">
  <div class="post-bgtop">
    <div class="post-bgbtm">
      <h2 class="title">MyBatis.NET Data Access Framework 1.9.2 ga</h2>
      <p class="byline">This is the data abstraction framework for .NET.</p>
      <div class="entry">
        <ul>
          <li>
            <a href="http://mybatisnet.googlecode.com/files/IBatis.DataAccess.1.9.2.bin.zip">
              <b>Download the Data Access Framework</b>
            </a>
            <br/>
          <li>
            <a href="http://mybatisnet.googlecode.com/files/Doc-DataAccess-1.9.2.zip">
              Download the Data Access Framework User Guide (English)
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

</body>
</html>
