<html>
<head>
  <title>mybatis generator</title>
</head>

<body>
<div class="post">
<div class="post-bgtop">
<div class="post-bgbtm">
<h2 class="title">mybatis generator</h2>

<div class="entry">

<h2>Introduction to mybatis generator</h2>

<p>mybatis generator is a code generator for mybatis.
  mybatis generator will introspect a database
  table (or many tables) and will generate mybatis artifacts that can be used to
  access the table(s). This abates some of the initial nuisance of setting up objects and configuration
  files to interact with database tables. mybatis generator seeks to make a major impact on the large
  percentage of database operations that are simple CRUD (Create, Retrieve, Update, Delete). You will
  still need to hand code SQL and objects for custom queries, or stored procedures.
</p>

<p>mybatis generator will generate:</p>
<ul>
  <li>SqlMap XML Files</li>
  <li>Java Classes to match the primary key and fields of the table(s)</li>
  <li>DAO Classes that use the above objects (optional)</li>
</ul>

<p>mybatis generator can run as a standalone JAR file, or as an Ant task, or as an Eclipse plugin.</p>

<h3>About the Name</h3>

<p>mybatis generator is an mybatis stylized version of the English word "abator".
  Abator means "one who abates a nuisance".</p>

<h3>mybatis generator News</h3>

<p>(December 22, 2008) mybatis generator version 1.2.1 is released. This version fixes a couple of bugs
  that manifested in the Eclipse plugin, enhances the Plugin API, and adds a couple of features
  to the Eclipse plugin. Even though this is a relatively minor release, we recommend that
  everyone upgrade.</p>

<p>(December 11, 2008) mybatis generator version 1.2.0 is released. This version has several important
  enhancements over Abator 1.1.0. See the
  <a href="http://mybatis.apache.org/docs/tools/mybatis generator/whatsNew.html">What's New?</a>
  section of the online documentation for full details. Note that mybatis generator requires
  Java 5.0 or greater. The Eclipse plugin requires Eclipse 3.4.1 or greater. mybatis generator
  generates code compatible with mybatis version 2.2.0 or greater.</p>

<p>(April 14, 2008) Due to a trade registration dispute, Abator is renamed to mybatis generator.
  mybatis generator is currently under development. The initial source code drop can be checked out from SVN
  at <a href="http://svn.apache.org/repos/asf/mybatis/java/mybatis generator/" target="_blank">
    http://svn.apache.org/repos/asf/mybatis/java/mybatis generator/</a></p>

<p>(March 20, 2008) Updated Abator and the Eclipse plugin to version 1.1.0. This is an
  extensive update that includes quite a few minor enhancements,
  two major enhancements (two new methods can be generated), and a few bug fixes.
  See the
  <a href="http://mybatis.apache.org/docs/tools/abator/whatsNew.html">What's New?</a>
  section of the online documentation for full details.</p>

<p>(August 20, 2006) Updated Abator and the Eclipse plugin to version 1.0.0. This is an
  extensive update that includes many new features including the ability to generate
  code for Java 5, generate different types of domain models, and hugely improved
  "by example" methods. See the "What's New?" section of the online documentation
  for full details.</p>

<h2>mybatis generator Software Downloads and Documentation</h2>

<p>Download the standalone JAR if you are using an IDE other than Eclipse. The
  standalone JAR includes an Ant task to run mybatis generator, or you can run mybatis generator from the command
  line of from Java code.</p>
<ul>
  <li><a href="http://people.apache.org/builds/mybatis/mybatis generator/mybatis generator-1.2.1-681.zip">
    mybatis generator 1.2.1 w/Binaries and Source</a>
  </li>
</ul>

<p>Documentation for the core functions of mybatis generator is available online. This documentation
  set is also included in the downloads, and is integrated into the Eclipse help system
  if you are using the Eclipse plugin.</p>

<p>Documentation for the Eclipse specific features is integrated into the Eclipse
  help system and is not available online.</p>
<ul>
  <li><a href="/docs/tools/mybatis generator/">mybatis generator Documentation</a></li>
</ul>

<h2>Eclipse Plugin</h2>

<p>When run as an Eclipse plugin, mybatis generator will persist the generated Java classes and SqlMap files
  in Eclipse projects. mybatis generator can be run iteratively multiple time as the database design matures
  - and any hand coded additions to generated Java classes or SqlMap files will remain undisturbed.</p>

<p>Documentation for mybatis generator is integrated into the Eclipse help system.</p>

<h3>Requirements</h3>
<ul>
  <li>Eclipse 3.4.1 or higher (Note: if you are stuck with prior versions, then the legacy
    Abator code is still available - see below)
  </li>
  <li>JDK 5.0 or Higher</li>
</ul>
<h3>Automatic Eclipse Install</h3>

<p>If you've already installed a prior version of mybatis generator, simply run the Eclipse Update
  tool and the new version will be found automatically.</p>

<p>If you've not previously installed mybatis generator, use the built in Eclipse install support by
  following these steps:</p>
<ol>
  <li>Take the "Help&gt;Software Updates..." Menu Option</li>
  <li>Select the "Available Software" Tab</li>
  <li>Press the "Add Site" button</li>
  <li>Enter the following information:
    <dl>
      <dt>Location:</dt>
      <dd>http://mybatis.apache.org/tools/mybatis generator</dd>
    </dl>
  </li>
  <li>Press OK</li>
  <li>Check the box next to "mybatis generator Feature"</li>
  <li>Press the "Install" button</li>
  <li>Follow the remainder of the install wizard</li>
</ol>

<h3>Manual Eclipse Install</h3>

<p>The automatic install is much preferred, but you can also install mybatis generator manually if you
  desire. To install manually, download the file
  <a href="http://people.apache.org/builds/mybatis/mybatis generator/mybatis generatorForEclipse1.2.1.zip">mybatis generatorForEclipse1.2.1.zip</a>
  and unzip
  the file to some convenient location. After unzipping the
  update site archive, follow these steps in Eclipse:</p>
<ol>
  <li>Take the "Help&gt;Software Updates..." Menu Option</li>
  <li>Select the "Available Software" Tab</li>
  <li>Press the "Add Site" button</li>
  <li>Press the "Local" button</li>
  <li>Navigate to the location where you unzipped the site archive</li>
  <li>Press OK</li>
  <li>Check the box next to "mybatis generator Feature"</li>
  <li>Press the "Install" button</li>
  <li>Follow the remainder of the install wizard</li>
</ol>

<h2>Legacy Abator Software Downloads and Documentation</h2>

<p>Download the standalone JAR if you are using an IDE other than Eclipse. The
  standalone JAR includes an Ant task to run Abator, or you can run Abator from the command
  line of from Java code.</p>
<ul>
  <li><a href="http://people.apache.org/builds/mybatis/mybatis generator/abator-1.1.0-426.zip">
    Abator 1.1.0 w/Binaries and Source</a>
  </li>
</ul>

<p>Documentation for the core functions of Abator is available online. This documentation
  set is also included in the downloads, and is integrated into the Eclipse help system
  if you are using the Eclipse plugin.</p>

<p>Documentation for the Eclipse specific features is integrated into the Eclipse
  help system and is not available online.</p>
<ul>
  <li><a href="/docs/tools/abator/">Abator Documentation</a></li>
</ul>


<h2>Legacy Abator Eclipse Plugin</h2>

<p>When run as an Eclipse plugin, Abator will persist the generated Java classes and SqlMap files
  in Eclipse projects. Abator can be run iteratively multiple time as the database design matures
  - and any hand coded additions to generated Java classes or SqlMap files will remain undisturbed.</p>

<p>Documentation for Abator is integrated into the Eclipse help system.</p>

<h3>Requirements</h3>
<ul>
  <li>Eclipse 3.2 or higher (Note: if you are stuck on Eclipse 3.0, or version 6.0
    of the Rational development tools, the prior version of the plugin is still
    available on the update site)
  </li>
  <li>JDK 1.4 or Higher</li>
</ul>
<h3>Automatic Eclipse Install</h3>

<p>If you've already installed a prior version of Abator, simply run the Eclipse Install/Update
  tool and the new version will be found automatically.</p>

<p>If you've not already installed Abator, then you can use the built in Eclipse
  install support by following these steps:</p>
<ol>
  <li>Take the "Help&gt;Software Updates&gt;Find and Install" Menu Option</li>
  <li>Select the "Search for new features to install" radio button, press "Next"</li>
  <li>Press the "New Remote Site" button</li>
  <li>Enter the following information:
    <dl>
      <dt>Name:</dt>
      <dd>Abator for Eclipse Update Site</dd>
      <dt>URL:</dt>
      <dd>http://mybatis.apache.org/tools/abator</dd>
    </dl>
  </li>
  <li>Press OK</li>
  <li>Check the box next to "Abator for Eclipse Update Site"</li>
  <li>Follow the remainder of the install wizard</li>
</ol>

<h3>Manual Eclipse Install</h3>

<p>The automatic install is much preferred, but you can also install Abator manually if you
  desire. To install manually, download the file
  <a href="http://people.apache.org/builds/mybatis/mybatis generator/AbatorForEclipse1.1.0.zip">AbatorForEclipse1.1.0.zip</a>
  and unzip
  the file to some convenient location. After unzipping the
  update site archive, follow these steps in Eclipse:</p>
<ol>
  <li>Take the "Help&gt;Software Updates&gt;Find and Install" Menu Option</li>
  <li>Select the "Search for new features to install" radio button, press "Next"</li>
  <li>Press the "New Local Site" button</li>
  <li>Navigate to the location where you unzipped the file.</li>
  <li>Press OK</li>
  <li>Follow the remainder of the install wizard</li>
</ol>

</div>
</div>
</div>
</div>


</body>

</html>