<html>
<head>
  <title>mybatis home</title>
  <script type="text/javascript" src="popup.js">
  </script>
</head>

<body>

<div class="post">
  <div class="post-bgtop">
    <div class="post-bgbtm">
      <h2 class="title">What is MyBatis</h2>
      <div style="float:right;vertical-align:top;margin-left:15px;border-left:1px #cccccc solid">
        <a style="padding-left:0;background:none" href="#"
           onClick="jkpopimage('images/flow.png', 720, 620, '1000 words.'); return false"><img
           alt="MyBatis Data Mapper process" align="right" src="images/flow_sm.png" border="0"/></a>
      </div>
      <div class="entry">
        <p>
          The MyBatis data mapper framework makes it easier to use a relational database with object-oriented
          applications. MyBatis couples objects with stored procedures or SQL statements
          using a XML descriptor. Simplicity is the biggest advantage of the MyBatis data
          mapper over object relational mapping tools.</p>

        <p>To use the MyBatis data mapper, you rely on
          your own objects, XML, and SQL. There is little to learn that you don't already
          know. With the MyBatis Data Mapper, you have the full power of both SQL and stored
          procedures at your fingertips.</p>
      </div>
    </div>
  </div>
</div>

<!--
<div class="post">
  <div class="post-bgtop">
    <div class="post-bgbtm">
      <h2 class="title">MyBatis 3.0 GA</h2>
      <p class="byline">Posted by Clinton Begin on May 17, 2010</p>
      <div class="entry">
        <p>New name, same software.  MyBatis 3.0 is the GA release of the iBATIS 3.0 codebase.  This is a very stable
          release which many people have been using for weeks, with only a couple of very minor edge case issues
          repored.  And those too have been fixed in this release.</p>
      </div>
      <div class="meta">
        <p><a href="software.html" class="more">Go get it!</a></p>
      </div>
    </div>
  </div>
</div>
-->

</body>
</html>
