<html>
<head>
  <title>MyBatis for Java</title>
</head>

<body>

<div class="post">
  <div class="post-bgtop">
    <div class="post-bgbtm">
      <h2 class="title">MyBatis Persistence Framework</h2>

      <p class="byline">This is the core SQL mapping framework.</p>

      <div class="entry">
        <ul>
          <li>
            <a href="http://code.google.com/p/mybatis/downloads/list?can=3&q=&quot;mybatis-3&quot;+-migrations">
              <b>Download the Persistence Framework</b>
            </a>
          </li>
          <li>
            <a href="http://mybatis.googlecode.com/svn/trunk/doc/en/">
              Download the Framework User Guide (English)</a>
          </li>
          <li>
            <a href="http://mybatis.googlecode.com/svn/trunk/doc/zh_cn/">
              Download the Framework User Guide (Simplified Chinese)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="post">
  <div class="post-bgtop">
    <div class="post-bgbtm">
      <h2 class="title">MyBatis Schema Migrations</h2>

      <p class="byline">This is the command line utility for managing your database schema, similar to Rails
        migrations.</p>

      <div class="entry">
        <ul>
          <li>
            <a href="http://code.google.com/p/mybatis/downloads/list?can=3&q=migrations">
              <b>Download the Schema Migrations System</b>
            </a>
          </li>
          <li>
            <a href="http://mybatis.googlecode.com/svn/trunk/doc/en/">
              Download the Migrations User Guide (English)
            </a>
          </li>
          <li>
            <a href="migrations_video.html">Watch the Video!</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="post">
  <div class="post-bgtop">
    <div class="post-bgbtm">
      <h2 class="title">MyBatis Generator</h2>

      <p class="byline">
        This is the popular code generator for MyBatis.
      </p>

      <div class="entry">
        <ul>
          <li>
            <a href="http://code.google.com/p/mybatis/downloads/list?can=3">
              <b>Download the MyBatis Generator</b>
            </a>
          </li>
          <li>
            <a href="http://code.google.com/p/mybatis/wiki/Generator">
              Learn more about the MyBatis Generator
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

</body>
</html>
