<html>
<head>
  <title>MyBatis for Java</title>
</head>

<body>

<div class="post">
  <div class="post-bgtop">
    <div class="post-bgbtm">
      <h2 class="title">MyBatis Persistence Framework</h2>

      <p class="byline">This is the core SQL mapping framework.</p>

      <div class="entry">
        <ul>
          <li>
            <a href="http://code.google.com/p/mybatis/downloads/list?can=3&q=&quot;mybatis-3&quot;+-migrations">
              <b>Download the Persistence Framework</b>
            </a>
          </li>
          <li>
            <a href="http://www.mybatis.org/core/">User Guide</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="post">
  <div class="post-bgtop">
    <div class="post-bgbtm">
      <h2 class="title">MyBatis Schema Migrations</h2>

      <p class="byline">This is the command line utility for managing your database schema, similar to Rails
        migrations.</p>

      <div class="entry">
        <ul>
          <li>
            <a href="http://code.google.com/p/mybatis/downloads/list?can=3&q=migrations">
              <b>Download the Schema Migrations System</b>
            </a>
          </li>
          <li>
            <a href="http://www.mybatis.org/migrations/">User Guide (English only)</a>
          </li>
          <li>
            <a href="http://www.mybatis.org/maven-migration-plugin/">
              Learn how to use the MyBatis Migrations inside Apache Maven
            </a>
          </li>
          <li>
            <a href="migrations_video.html">Watch the Video!</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="post">
  <div class="post-bgtop">
    <div class="post-bgbtm">
      <h2 class="title">MyBatis Generator</h2>

      <p class="byline">
        This is the popular code generator for MyBatis.
      </p>

      <div class="entry">
        <ul>
          <li>
            <a href="http://code.google.com/p/mybatis/downloads/list?can=3&q=Product%3DGenerator">
              <b>Download the MyBatis Generator</b>
            </a>
          </li>
          <li>
            <a href="http://www.mybatis.org/generator/">Learn more about the MyBatis Generator</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="post">
  <div class="post-bgtop">
    <div class="post-bgbtm">
      <h2 class="title">MyBatis-Google Guice integration module</h2>

      <p class="byline">
        The perfect glue between the two popular frameworks.
      </p>

      <div class="entry">
        <ul>
          <li>
            <a href="http://code.google.com/p/mybatis/downloads/list?can=3&q=Product%3DGuice">
              <b>Download the MyBatis-Guice module</b>
            </a>
          </li>
          <li>
            <a href="http://www.mybatis.org/guice/">Learn more about the MyBatis-Guice</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="post">
  <div class="post-bgtop">
    <div class="post-bgbtm">
      <h2 class="title">MyBatis-Spring integration module</h2>

      <p class="byline">
        Integrate your MyBatis code seamlessly with Spring.
      </p>

      <div class="entry">
        <ul>
          <li>
            <a href="http://code.google.com/p/mybatis/downloads/list?can=3&q=Product%3DSpring">
              <b>Download the MyBatis-Spring module</b>
            </a>
          </li>
          <li>
            <a href="http://www.mybatis.org/spring/">Learn more about the MyBatis-Spring</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="post">
  <div class="post-bgtop">
    <div class="post-bgbtm">
      <h2 class="title">MyBatis-Scala integration module</h2>

      <p class="byline">
         A lightweight wrapper, it supports a 100% of the framework functionality, taking advantage of the elegant Scala syntax and its type system.
      </p>

      <div class="entry">
        <ul>
          <li>
            <a href="http://code.google.com/p/mybatis/downloads/list?can=3&q=Product%3DScala">
              <b>Download the MyBatis-Scala module</b>
            </a>
          </li>
          <li>
            <a href="http://www.mybatis.org/scala/">Learn more about the MyBatis-Scala</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="post">
  <div class="post-bgtop">
    <div class="post-bgbtm">
      <h2 class="title">Caches</h2>

      <p class="byline">
        3rd part cache implementations integration.
      </p>

      <div class="entry">
        <ul>
          <li>
            <a href="http://code.google.com/p/mybatis/downloads/list?can=3&q=Product%3DCache">
              <b>Download the MyBatis Cache modules</b>
            </a>
          </li>
          <li>
            <a href="http://www.mybatis.org/caches/ehcache/">Learn more about the MyBatis-EHCACHE</a>
          </li>
          <li>
            <a href="http://www.mybatis.org/caches/hazelcast/">Learn more about the MyBatis-Hazelcast</a>
          </li>
          <li>
            <a href="http://www.mybatis.org/caches/memcached/">Learn more about the MyBatis-Memcached</a>
          </li>
          <li>
            <a href="http://www.mybatis.org/caches/oscache/">Learn more about the MyBatis-OSCache</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="post">
  <div class="post-bgtop">
    <div class="post-bgbtm">
      <h2 class="title">Samples</h2>

      <p class="byline">
        MyBatis code samples.
      </p>

      <div class="entry">
        <ul>
          <li>
            <a href="http://code.google.com/p/mybatis/downloads/list?can=3&q=Product%3DSample">
              <b>Download MyBatis code samples</b>
            </a>
          </li>
          <li>
            <a href="http://code.google.com/p/mybatis/wiki/Samples">
              Learn more about the code samples
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="post">
  <div class="post-bgtop">
    <div class="post-bgbtm">
      <h2 class="title">Development Snapshots</h2>

      <p class="byline">
        Development snapshots are not regularly scheduled, but will be posted here when available:
      </p>

      <div class="entry">
        <ul>
          <li>
            <a href="https://oss.sonatype.org/content/repositories/snapshots/org/mybatis/">
              <b>https://oss.sonatype.org/content/repositories/snapshots/org/mybatis/</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

</body>
</html>
