<html>
<head>
  <title>MyBatis Team</title>
</head>


<body>
<div class="post">
  <div class="post-bgtop">
    <div class="post-bgbtm">
      <h2 class="title">The Java Team</h2>
      <div class="entry">
        <ul>
          <li>Clinton Begin</li>
          <li>Brandon Goodin</li>
          <li>Christian Poitras</li>
          <li>Eduardo Macarron</li>
          <li>Hunter Presnall</li>
          <li>Jeff Butler</li>
          <li>Kai Grabfelder</li>
          <li>Larry Meadors</li>
          <li>Marco Speranza</li>
          <li>Nathan Maves</li>
          <li>Putthibong Boonbong</li>
          <li>Simone Tripodi</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="post">
  <div class="post-bgtop">
    <div class="post-bgbtm">
      <h2 class="title">The .NET Team</h2>
      <div class="entry">
        <ul>
          <li>Michael McCurrey</li>
          <li>Michael Schall</li>
          <li>Ron Grabowski</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="post">
  <div class="post-bgtop">
    <div class="post-bgbtm">
      <h2 class="title">Sponsors</h2>
      <div class="entry">
        <div  style="float:right;border-left:1px #CCCCCC solid; padding-left:15px; margin-left:15px">
          <a target="_new" href="http://www.jetbrains.com">
            <img style="clear:both;" align="left"
                src="http://www.jetbrains.com/img/logos/banner_general.gif"
                border="0" alt="JetBrains"/></a>
          <br/>
          <br/>
          <a target="_new" href="http://www.aquafold.com/">
            <img style="clear:both;" align="left"
                src="http://www.aquafold.com/images/Aqua_Fold_Logo_16color.gif"
                border="0" alt="AquaFold"/></a>
        </div>
        <p>
          The MyBatis team would like to thank the following companies
          for providing complimentary access to their world-class software.
        </p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
