<html>
<head>    
    <title>iBATIS PetStore and NPetshop</title>
</head>

<body>

<img src="jp4.gif" />

<h2>iBATIS PetStore</h2>

<p><b>The official example application for iBATIS Data Mapper and DAO frameworks</b></p>

<p>PetStore is a fully functional web application based on iBATIS open source persistence layer products, including the
SQL Maps and Data Access Objects frameworks. JPetStore is an excellent example of how the iBATIS frameworks can be 
implemented in a typical J2EE and .NET web application.</p>


</body>

</html>