<div id="Menu">
  <b>Information</b><br/>
  <a href="index.html" title="What's new with iBATIS?">Home</a><br/>
  <a href="events.html" title="User groups, seminars, conferences etc.">Events</a><br/>
  <a href="archive.html" title="Old news from the past.">News Archive</a><br/>
  <br/>
  <b>Software</b><br/>
  <a href="datamapper.html" title="Simplify data access">Data Mapper</a><br/>
  <a href="dao.html" title="Hide data acess implementation">Data Access Objects</a><br/>
  <a href="petstore.html" title="The official example applications">Example Apps</a><br/>
  <a href="tools.html" title="Tools related to iBATISs">Tools</a><br/>
  <br/>
  <b>Downloads</b><br/>
  <a href="javadownloads.html" title="Everything you need to run iBATIS for Java">for Java</a><br/>
  <a href="dotnetdownloads.html" title="Everything you need to run iBATIS for .NET">for .NET</a><br/>
  <br/>
  <b>Resources</b><br/>
  <a href="help.html" title="How To Get Help">How To Get Help</a><br/>
  <a href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Home" title="iBATIS Wiki"
     target="_new">Wiki</a><br/>
  <a href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Frequently+Asked+Questions" title="iBATIS FAQ"
     target="_new">FAQ</a><br/>
  <a href="mailinglists.html" title="iBATIS Mailing Lists">Mailing Lists</a><br/>
  <a href="issuetracker.html" title="iBATIS Issue Tracker">Issue Tracker</a><br/>
  <a href="http://svn.apache.org/repos/asf/ibatis/trunk" title="Subversion Repository" target="_new">SVN Repository</a>
  <br/>
  <br/>
  <b>Project</b><br/>
  <a href="background.html" title="Where did iBATIS come from, what does 'iBATIS' mean?">Background</a><br/>
  <a href="license.html" title="The Apache Software Foundation License 2.0">License</a><br/>
  <a href="team.html" title="Who's responsible for iBATIS?">Team</a><br/>
  <a href="bylaws.html" title="How do we operate?">Bylaws</a><br/>
  <a href="status.html" title="Where are we at?">Status</a><br/>
</div>
