<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 version="2.5">
	<display-name>Sample contact manager</display-name>

	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>StripesResources</param-value>
	</context-param>

	<listener>
		<listener-class>
			com.silvermindsoftware.stripes.integration.guice.GuiceContextListener
		</listener-class>
	</listener>

	<context-param>
		<!--TODO: implement this-->
		<param-name>Guice.Modules</param-name>
		<param-value>org.sample.guice.WebModule</param-value>
	</context-param>

	<context-param>
		<!--TODO: implement this-->
		<param-name>GuiceInjectorFactory.Class</param-name>
		<param-value>org.sample.guice.InjectorFactory</param-value>
	</context-param>

	<filter>
		<display-name>Stripes Filter</display-name>
		<filter-name>StripesFilter</filter-name>
		<filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
		<!--TODO: implement this-->
		<init-param>
			<param-name>ActionResolver.Packages</param-name>
			<param-value>org.sample.stripes.actions</param-value>
		</init-param>
		<!--TODO: implement this-->
		<init-param>
			<param-name>Extension.Packages</param-name>
			<param-value>org.sample.stripes.extensions</param-value>
		</init-param>
		<init-param>
			<param-name>PopulationStrategy.Class</param-name>
			<param-value>net.sourceforge.stripes.tag.BeanFirstPopulationStrategy</param-value>
		</init-param>
		<init-param>
			<param-name>Configuration.Class</param-name>
			<param-value>com.silvermindsoftware.stripes.config.GuiceRuntimeConfiguration</param-value>
		</init-param>
		<init-param>
			<param-name>ActionBeanContextFactory.Class</param-name>
			<param-value>com.silvermindsoftware.stripes.controller.GuiceActionBeanContextFactory</param-value>
		</init-param>
		<init-param>
			<param-name>ActionResolver.Class</param-name>
			<param-value>com.silvermindsoftware.stripes.controller.GuiceActionResolver</param-value>
		</init-param>
	</filter>

	<filter>
		<description>Dynamically maps URLs to ActionBeans.</description>
		<display-name>Stripes Dynamic Mapping Filter</display-name>
		<filter-name>DynamicMappingFilter</filter-name>
		<filter-class>net.sourceforge.stripes.controller.DynamicMappingFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>StripesFilter</filter-name>
		<servlet-name>StripesDispatcher</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>DynamicMappingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<servlet>
		<servlet-name>StripesDispatcher</servlet-name>
		<servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>StripesDispatcher</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>

</web-app>
